/* HOMESTATE - Single Property Real Estate HTML5 Template */

@media only screen and (max-width: 1140px){
	.main-header .header-upper .logo-outer,
	.main-header .header-upper .upper-right{
		width:100%;
		text-align:center;
	}
	
	.main-header .info-box{
		display:inline-block;
		margin:10px 25px;
		float:none;
		text-align:left;
		width:220px;
	}
	
	.main-header .header-upper .info-box::after{
		display:none;	
	}
	
	.main-header .social-links-one{
		top:-15px;	
	}
	
	.main-menu .navigation > li > a{
		padding-left:15px;
		padding-right:15px;	
	}
	
	.two-col-fluid .content-column .inner-box{
		padding-left:90px;
		max-width:none;
	}
	
	.sortable-masonry .masonry-item{
		width:50%;	
	}
	
	.boxed-icon-column{
		min-height:150px;	
	}
	
	.team-list-view .team-member .text{
		padding-top:7px;	
	}
	
	.project-single .default-masonry .masonry-item{
		width:50%;	
	}
	
	.default-section .column .inner-box{
		padding-right:0px !important;	
	}
	
	.main-header .header-lower .bg-layer{
		display:none;	
	}
	
	.about-company .styled-list-three{
		margin-right:0px;	
	}
	
	.default-section .row.outer{
		margin:0px -15px !important;	
	}
	
	.check-column{
		padding:0px 15px 0px 30px;	
	}
	
	.feature-column .desc-text{
		padding-right:0px;	
	}
	
	.main-slider .outer-box .info-list li{
		font-size:12px;	
	}
	
	.blog-news-section{
		padding-right:0px !important;	
	}
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.page-wrapper{
		overflow:hidden;	
	}
	
	.main-menu .navigation > li > a{
		padding-left:10px;
		padding-right:10px;
	}
	
	.header-style-two .main-menu .navigation > li ul > li > ul{
		left:auto !important;
		right:100% !important;	
	}
	
	.main-header .header-upper .upper-right{
		width:100%;	
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		padding-right:15px;
	}
	
	.sticky-header{
		display:none;	
	}
	
	.default-portfolio-item .overlay-inner h3{
		margin-bottom:10px;	
	}
	
	.default-portfolio-item .overlay-box{
		border-width:10px;	
	}
	
	.property-dimensions .image-column,
	.agent-section .agent-box,
	.default-two-column .content-column{
		padding-right:15px;	
	}
	
	.property-dimensions .content-column,
	.agent-section .form-column{
		padding-left:15px !important;	
	}
	
	.property-details .right-column .inner-box{
		padding-left:0px !important;	
	}
	
	.main-slider .outer-box h2 strong{
		font-size:42px;	
	}
	
	.main-slider .outer-box .info-list li strong{
		position:relative;
		top:-7px !important;
		line-height:20px;	
	}
	
	.main-slider .outer-box .info-list li{
		font-size:12px !important;
		line-height:24px;	
	}
}

@media only screen and (max-width: 767px){
	
	.main-header .nav-outer{
		padding-right:0px;	
	}
	
	.main-header.header-style-three .nav-outer{
		padding-left:0px;
		border-left:15px solid transparent;
		border-right:15px solid transparent;	
	}
	
	.main-header .btn-outer{
		right:auto;
		left:0px;
		z-index:14;
		height:58px;	
	}
	
	.main-header .btn-outer .visit-btn{
		padding:16px 0px;	
	}
	
	.main-header .header-top .top-right, 
	.main-header .header-top .top-left {
		width: 100%;
		text-align:center;
	}
	
	.main-header .header-top .top-right ul,
	.main-header .header-top .top-left ul {
		text-align: center;
	}
	
	.main-header .header-top .top-right ul li,
	.main-header .header-top .top-left ul li {
		display: inline-block;
		float: none;
	}

	.header-upper .logo-outer  {
		display: block;
		width: 100%;
	}
	
	.main-header .main-menu{
		padding-top:0px;
		width:100%;
		margin:0px;
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 10px 0px;
		border:none;
		margin:0px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:10px 10px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;	
	}
	
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:12px 0px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		border:1px solid #ff573b;
		float:none;
		margin:0px 15px 0px 0px;
		border-radius:0px;
		background:#ff573b;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#ff573b;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#ff573b;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#ff573b;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#ff573b;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#ff573b;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-header .social-links-one{
		top:0px;
	}
	
	.contact-section .info-column{
		padding-left:15px;	
	}
	
	.main-slider .tp-caption{
		display:none !important;	
	}
	
	.main-slider,
	.page-title{
		margin-top:20px;	
	}
	
	.sortable-masonry .masonry-item{
		width:100%;	
	}
	
	.error-section .bigger-text,
	.error-section .extra-big{
		font-size:36px;
		line-height:44px;
		margin-bottom:15px;	
	}
	
	.error-section .text-lower strong{
		display:block;	
	}
	
	.property-dimensions .tabs-box .tab-buttons{
		display:block;
		text-align:center;
		background:none;
		border:none;
		-webkit-box-shadow:none;
		-ms-box-shadow:none;
		-o-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;	
	}
	
	.property-dimensions .tabs-box .tab-buttons .tab-btn{
		display:inline-block;
		padding:10px 25px;
		margin:0px 5px 10px;
		border:1px solid #e9e9e9;
		background:#ffffff;
		-webkit-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.10);
		-ms-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.10);
		-o-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.10);
		-moz-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.10);
		box-shadow:0px 0px 4px 0px rgba(0,0,0,0.10);	
	}
	
	.testimonials-section .owl-controls{
		display:none;	
	}
	
	.map-section .outer-container .info-container{
		padding:30px 0px 15px 20px;	
	}
	
	.page-title{
		padding:50px 0px 5px;	
	}
	
	.page-title h1,
	.sec-title h2,
	.agent-section .form-column .title-box h3,
	.about-property .property-info .info-block .count,
	.call-to-action .column h2,
	.property-details .right-column h2,
	.about-company .title-box h3,
	.property-dimensions .content-column h3,
	.contact-section .column h2,
	.default-two-column .info-column h2{
		font-size:22px;	
	}
	
	.sec-title h3,
	.sidebar-page-container .blog-news-column h3{
		font-size:18px;	
	}
	
	.default-title h2,
	.services-style-one .title-box h2,
	.subscribe-intro .column h2,
	.blog-detail .blog-news-column h3{
		font-size:20px;	
	}
	
	.gallery-carousel-container .ms-gallery-template .ms-slide-info{
		display:none;	
	}
	
	.gallery-carousel-container .ms-skin-black-2 .ms-nav-next,
	.gallery-carousel-container .ms-skin-black-2 .ms-nav-prev{
		margin-top:-22px;	
	}
	
	
}

@media only screen and (max-width: 599px){
	
	.main-header .social-links-one{
		top:0px;
	}
	
	.main-header .header-upper .upper-column.info-box {
		display: block;
		width:100%;
		text-align:center;
		padding:10px;
	}
	
	.main-header .info-box .icon-box{
		position:relative;
		display:block;
		margin:0 auto 10px;	
	}

	.main-header .header-top .top-left,
	.main-header .header-top .top-right{
		float:none !important;
		text-align:center;
	}
	
	.sidebar-page-container .comments-area .comment,
	.sidebar-page-container .comments-area .reply-comment{
		padding-left:0px;
		margin-left:0px;	
	}
	
	.sidebar-page-container .comments-area .comment-box .author-thumb{
		position:relative;
		top:0px;
		left:0px;
		margin-bottom:20px !important;	
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		width:100%;	
	}
	
	.main-header .header-upper .upper-column{
		padding-right:0px;	
	}
	
	.sidebar-page-container .comments-area .reply-comment{
		margin-left:0px;	
	}
	
	.sidebar-page-container .comments-area .comment-info .comment-time{
		float:left !important;	
	}
	
	.featured-style-one .inner-box{
		text-align:center;	
	}
	
	.featured-style-one .icon-box{
		margin:0px auto 20px;	
	}
	
	.blog-news-section{
		padding-right:0px !important;	
	}
	
	.sidebar-page-container .comments-area .reply-btn{
		position:relative !important;
		top:0px !important;
		right:0px;	
	}
	
	.property-dimensions .image-column .image-box .dimensions-value,
	.map-section .outer-container .info-container .inner-box h4,
	.about-property .property-info .info-block .title,
	.call-to-action .column{
		font-size:14px;	
	}
	
	.blog-news-section .post-share-options .pull-right.text-left{
		float:left !important;
		padding-top:10px !important;
		width:100%;
	}
	
	.main-header .header-upper .upper-right{
		padding:0px 0px;	
	}
	
}

@media only screen and (max-width: 499px) {
	.main-header .header-upper .upper-column.info-box {	
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	
	.main-header .btn-outer{
		width:200px;	
	}
	
	.property-details .tabs-box .tab-buttons .tab-btn,
	.property-dimensions .tabs-box .tab-buttons .tab-btn{
		display:block;
		float:none;
		margin:0px 0px 15px;
		text-align:center;	
	}
	
	.default-portfolio-item .overlay-inner h3{
		display:none;	
	}
	
	.styled-list-three li:after{
		display:none;	
	}
	
	.styled-list-three li{
		margin:0px 0px 20px !important;
		padding-right:0px;
		width:100%;	
	}
}
