/* HOMESTATE - Single Property Real Estate HTML5 Template */


/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header
5. Main Slider
6. About Property
7. Property Details
8. Photo Gallery
9. Property Dimensions
10. Nearby Places
11. Agent Section
12. Testimonials Section
13. Blog News Section
14. Contact Style One
15. Call to Action
16. Main Footer
17. About Company
18. Property Features
19. Photo Gallery Fullwidth
20. Check Columns
21. Testimonials Carousel
22. Tour Gallery
23. Two Column Default
24. Accordions Style
25. Contact Section Style
26. FAQs Style
27. 404 Page
28. Gallery Masonry
29. Gallery Fullwidth
30. Blog Classic
31. Blog Three Column
32. Blog Single
33. Sidebar
34. Comments Area
35. Comments Form


**********************************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic);

@import url('font-awesome.css');
@import url('flaticon.css');
@import url('animate.css');
@import url('owl.css');
@import url('jquery.fancybox.css');
@import url('hover.css');

/*** 

====================================================================
	Reset
====================================================================

 ***/
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

/*** 

====================================================================
	Global Settings
====================================================================

 ***/

body {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#808080;
	line-height:1.8em;
	font-weight:400;
	background:#ffffff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-font-smoothing: antialiased;
}

a{
	text-decoration:none;
	cursor:pointer;
	color:#ff573b;
}

a:hover,a:focus,a:visited{
	text-decoration:none;
	outline:none;
}

h1,h2,h3,h4,h5,h6 {
	position:relative;
	font-family: 'Raleway', sans-serif;
	font-weight:normal;
	margin:0px;
	background:none;
	line-height:1.6em;
}

input,button,select,textarea{
	font-family: 'Open Sans', sans-serif;
}

p{
	position:relative;
	line-height:1.7em;	
}

.strike-through{
	text-decoration:line-through;	
}

.auto-container{
	position:static;
	max-width:1200px;
	padding:0px 15px;
	margin:0 auto;
}

.small-container{
	max-width:680px;
	margin:0 auto;
}

.page-wrapper{
	position:relative;
	margin:0 auto;
	width:100%;
	min-width:300px;
	
}

ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}

.theme-btn{
	display:inline-block;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	font-family: 'Open Sans', sans-serif;
}

.centered{
	text-align:center;	
}

.anim-3,.anim-3-all *{
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;	
}

.anim-5,.anim-5-all *{
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;	
}

.anim-7,.anim-7-all *{
	transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-webkit-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;	
}

.btn-theme-light{
	position:relative;
	padding:10px 25px;
	line-height:24px;
	text-transform:uppercase;
	background:none;
	color:#ffffff !important;
	font-size:12px;
	border:1px solid #ffffff !important;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.btn-theme-light:hover{
	background:#ff573b;
	color:#ffffff !important;
	border-color:#ff573b !important;	
}

.btn-theme-grey{
	position:relative;
	padding:10px 25px;
	line-height:24px;
	text-transform:uppercase;
	background:none;
	color:#555555 !important;
	font-size:12px;
	border:1px solid #999999 !important;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.btn-theme-grey:hover{
	background:#999999;
	color:#ffffff !important;
	border-color:#999999 !important;	
}

.btn-style-one{
	position:relative;
	padding:10px 25px;
	line-height:24px;
	text-transform:uppercase;
	background:#ff573b;
	color:#ffffff !important;
	font-size:15px;
	font-weight:600;
	border:2px solid #ff573b !important;
	border-radius:3px;
}

.btn-style-one:hover{
	color:#ffffff !important;
	border-color:#ffffff !important;
	background:none;	
}

.btn-style-two{
	position:relative;
	padding:10px 25px;
	line-height:24px;
	text-transform:uppercase;
	background:none;
	color:#ffffff !important;
	font-size:15px;
	font-weight:600;
	border:2px solid #ffffff !important;
	border-radius:3px;
}

.btn-style-two:hover{
	color:#ffffff !important;
	border-color:#ff573b !important;
	background:#ff573b;	
}

.btn-style-three{
	position:relative;
	padding:10px 25px;
	line-height:24px;
	text-transform:uppercase;
	background:#2f2f2f;
	color:#ffffff !important;
	font-size:15px;
	font-weight:600;
	border:2px solid #2f2f2f !important;
	border-radius:3px;
}

.btn-style-three:hover{
	color:#ffffff !important;
	border-color:#ff573b !important;
	background:#ff573b;	
}

.btn-style-four{
	position:relative;
	padding:10px 25px;
	line-height:24px;
	text-transform:uppercase;
	background:#ff573b;
	color:#ffffff !important;
	font-size:15px;
	font-weight:600;
	border:2px solid #ff573b !important;
	border-radius:3px;
}

.btn-style-four:hover{
	color:#ff573b !important;
	border-color:#ff573b !important;
	background:none;	
}

.btn-style-five{
	position:relative;
	padding:6px 30px;
	line-height:24px;
	text-transform:uppercase;
	background:#ff573b;
	color:#ffffff !important;
	border:2px solid #ff573b;
	font-size:15px;
	font-weight:600;
	border-radius:22px;
}

.btn-style-five:hover{
	color:#ff573b !important;
	border-color:#ff573b !important;
	background:none;	
}


.theme-btn .fa{
	font-size:16px;	
}

.theme-btn .icon-left{
	padding-right:10px;
}

.theme-btn .icon-right{
	padding-left:10px;
}

.theme_color{
	color:#ff573b;	
}

.light-font{
	font-weight:300;	
}

.regular-font{
	font-weight:400;	
}

.semibold-font{
	font-weight:600;	
}

.bold-font{
	font-weight:700;	
}

.padd-top-10{
	padding-top:10px !important;	
}

.padd-top-20{
	padding-top:20px !important;	
}

.padd-top-30{
	padding-top:30px !important;	
}

.padd-top-40{
	padding-top:40px !important;	
}

.padd-top-50{
	padding-top:50px !important;	
}

.padd-top-60{
	padding-top:60px !important;	
}

.padd-top-70{
	padding-top:70px !important;	
}

.padd-left-10{
	padding-left:10px !important;	
}

.padd-left-20{
	padding-left:20px !important;	
}

.padd-left-30{
	padding-left:30px !important;	
}

.padd-left-40{
	padding-left:40px !important;	
}

.padd-left-50{
	padding-left:50px !important;	
}

.padd-left-60{
	padding-left:60px !important;	
}

.padd-left-70{
	padding-left:70px !important;	
}

.padd-bott-10{
	padding-bottom:10px !important;	
}

.padd-bott-20{
	padding-bottom:20px !important;	
}

.padd-bott-30{
	padding-bottom:30px !important;	
}

.padd-bott-40{
	padding-bottom:40px !important;	
}

.padd-bott-50{
	padding-bottom:50px !important;	
}

.padd-bott-60{
	padding-bottom:60px !important;	
}

.padd-bott-70{
	padding-bottom:70px !important;	
}

.padd-bott-90{
	padding-bottom:90px !important;	
}

.padd-bott-100{
	padding-bottom:100px !important;	
}

.padd-right-10{
	padding-right:10px !important;	
}

.padd-right-20{
	padding-right:20px !important;	
}

.padd-right-30{
	padding-right:30px !important;	
}

.padd-right-40{
	padding-right:40px !important;	
}

.padd-right-50{
	padding-right:50px !important;	
}

.padd-right-60{
	padding-right:60px !important;	
}

.padd-right-70{
	padding-right:70px !important;	
}

.margin-top-10{
	margin-top:10px !important;	
}

.margin-top-20{
	margin-top:20px !important;	
}

.margin-top-30{
	margin-top:30px !important;	
}

.margin-top-40{
	margin-top:40px !important;	
}

.margin-top-50{
	margin-top:50px !important;	
}

.margin-top-60{
	margin-top:60px !important;	
}

.margin-top-70{
	margin-top:70px !important;	
}

.margin-bott-10{
	margin-bottom:10px !important;	
}

.margin-bott-20{
	margin-bottom:20px !important;	
}

.margin-bott-30{
	margin-bottom:30px !important;	
}

.margin-bott-40{
	margin-bottom:40px !important;	
}

.margin-bott-50{
	margin-bottom:50px !important;	
}

.margin-bott-60{
	margin-bottom:60px !important;	
}

.margin-bott-70{
	margin-bottom:70px !important;	
}

.no-padd-bottom{
	padding-bottom:0px !important;	
}

.no-padd-top{
	padding-top:0px !important;	
}

.no-margin-bottom{
	margin-bottom:0px !important;	
}

.no-margin-top{
	margin-bottom:0px !important;	
}

.no-padd-left{
	padding-left:0px !important;	
}

.no-padd-right{
	padding-right:0px !important;	
}

.bg-lightgrey{
	background-color:#f6f6f6 !important;	
}

.no-bg{
	background:none !important;	
}

.text-uppercase{
	text-transform:uppercase !important;	
}

.preloader{ position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:999999; background-color:#ffffff; background-position:center center; background-repeat:no-repeat; background-image:url(../images/icons/preloader.GIF);}

/*** 

====================================================================
	Scroll To Top style
====================================================================

***/

.scroll-to-top{
	position:fixed;
	bottom:5px;
	right:15px;
	color:#ff573b;
	font-size:30px;
	font-weight:700;
	text-transform:uppercase;
	line-height:50px;
	text-align:center;
	z-index:100;
	cursor:pointer;
	display:none;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;	
}

.scroll-to-top:hover{
	opacity:0.50;
}

/*** 

====================================================================
	Main Header style
====================================================================

***/

.main-header{
	position:relative;
	left:0px;
	top:0px;
	z-index:999;
	width:100%;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.sticky-header{
	position:fixed;
	opacity:0;
	visibility:hidden;
	left:0px;
	top:0px;
	width:100%;
	padding:0px 0px;
	background:#ffffff;
	z-index:0;
	border-bottom:1px solid #cccccc;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.sticky-header .logo{
	padding:6px 0px 2px;	
}

.sticky-header.now-visible{
	z-index:999;
	opacity:1;
	visibility:visible;
	-ms-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-op-animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-ms-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-op-animation-duration: 500ms;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-ms-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-op-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-ms-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-op-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;	
}

.main-header .header-upper{
	position:relative;
	padding:6px 0px 2px;
	background:#ffffff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	z-index:5;
}

.main-header .header-upper .logo img{
	position:relative;
	display:inline-block;
	max-width:100%;
}

.main-header .header-upper .upper-right{
	position:relative;
	padding:25px 0px;
}

.main-header .header-upper .info-box:last-child{
	margin-right:0px;	
}

.main-header .header-upper .info-box:after{
	content:'';
	position:absolute;
	right:-40px;
	top:0px;
	width:1px;
	height:100%;
	border-right:1px dashed #e0e0e0;
	-webkit-transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
	transform:skewX(-15deg);
}

.main-header .info-box{
	position:relative;
	float:left;
	min-height:56px;
	margin:0px 40px;
	padding:7px 0px 7px 70px;
}

.main-header .header-upper .info-box:last-child{
	padding-left:0px !important;
}

.main-header .header-upper .info-box:last-child:after{
	display:none;	
}

.main-header .info-box .icon-box{
	position:absolute;
	left:0px;
	top:4px;
	width:50px;
	height:50px;
	text-align:center;
	line-height:48px;
	border:1px solid #e0e0e0;
	border-radius:50%;
	color:#ff573b;
	font-size:22px;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.main-header .info-box:hover .icon-box{
	border-color:#ff573b;	
}

.main-header .info-box li{
	position:relative;
	line-height:24px;
	margin:0px 0px;
	font-size:14px;
	color:#9b9b9b;
}

.main-header .info-box li a{
	color:#9b9b9b;		
}

.main-header .info-box strong{
	font-weight:700;
	color:#555555;
	font-size:15px;	
}

.main-header .header-lower{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	background:none;
	z-index:5;
}

.main-header .header-lower .bg-layer{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:none;
	overflow:hidden;	
}

.main-header .header-lower .bg-layer:before{
	content:'';
	position:absolute;
	left:50%;
	top:0px;
	width:50%;
	height:100%;
	background:#373737;	
}

.main-header .nav-outer{
	position:relative;
	padding-right:200px;
	background:#373737;	
}

.main-menu{
	position:relative;	
}

.main-menu .navbar-collapse{
	padding:0px;	
}

.main-menu .navigation{
	position:relative;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
}

.main-menu .navigation > li{
	position:relative;
	float:left;
	padding:0px;
}

.sticky-header .main-menu .navigation > li{
	margin-right:0px;
}

.main-menu .navigation > li > a{
	position:relative;
	display:block;
	padding:16px 20px;
	font-size:14px;
	color:#ffffff;
	line-height:30px;
	border-top:none;
	font-weight:600;
	text-transform:capitalize;
	opacity:1;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.sticky-header .main-menu .navigation > li{
	margin-left:10px;	
}

.sticky-header .main-menu .navigation > li > a{
	color:#181818;
	padding:15px 15px;
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a{
	background:#ff573b;
	opacity:1;
}

.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li.current-menu-item > a{
	background:#ff573b;
	color:#ffffff;
	opacity:1;
}

.main-menu .navigation > li:hover > a:after{
	opacity:1;
}

.main-menu .navigation > li > ul{
	position:absolute;
	left:0px;
	top:130%;
	width:210px;
	padding:0px;
	z-index:100;
	display:none;
	background:#373737;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul.from-right{
	left:auto;
	right:0px;	
}

.main-menu .navigation > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px dashed rgba(255,255,255,0.30);
}

.main-menu .navigation > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li > a{
	position:relative;
	display:block;
	padding:10px 15px;
	line-height:22px;
	font-weight:600;
	font-size:13px;
	text-transform:capitalize;
	color:#ffffff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover > a{
	background:#ff573b;	
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
	font-family: 'FontAwesome';
	content: "\f105";
	position:absolute;
	right:10px;
	top:10px;
	width:10px;
	height:20px;
	display:block;
	color:#ffffff;
	line-height:20px;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	z-index:5;	
}

.main-menu .navigation > li > ul > li.dropdown:hover > a:after{
	color:#ffffff;	
}

.main-menu .navigation > li > ul > li > ul{
	position:absolute;
	left:110%;
	top:0px;
	width:200px;
	padding:0px;
	z-index:100;
	display:none;
	background:#373737;
}

.main-menu .navigation > li > ul > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px dashed rgba(255,255,255,0.30);
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li  > ul > li > a{
	position:relative;
	display:block;
	padding:10px 15px;
	line-height:22px;
	font-weight:600;
	font-size:13px;
	text-transform:capitalize;
	color:#ffffff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li  > ul > li > a:hover{
	background:#ff573b;	
}

.main-menu .navigation > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	top:100%;	
}

.main-menu .navigation li > ul > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	left:100%;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;	
}

.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
	position:absolute;
	right:10px;
	top:6px;
	width:34px;
	height:30px;
	border:1px solid #ffffff;
	background:url(../images/icons/submenu-icon.png) center center no-repeat;
	background-size:20px;
	cursor:pointer;
	z-index:5;
	display:none;
}

.main-header .btn-outer{
	position:absolute;
	right:0px;
	top:0px;
	width:200px;
	height:100%;	
}

.main-header .btn-outer .visit-btn{
	position:relative;
	display:block;
	line-height:26px;
	text-align:center;
	padding:18px 0px;
	font-weight:700;
	font-size:14px;
	color:#ffffff;
	text-transform:uppercase;
	background:#ff573b;
	z-index:1;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;	
}

.main-header .btn-outer .visit-btn:hover{
	opacity:0.80;	
}

.main-header .get-btn:hover{
	background:#ff573b;	
}

.main-header .get-btn .appt-btn:hover{
	color:#ffffff;	
}

.social-links-one{
	position:relative;	
}

.main-header .social-links-one{
	top:7px;	
}

.social-links-one a{
	position:relative;
	display:inline-block;
	text-align:center;
	margin-left:4px;
	width:40px;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#928d8d;
	border-radius:50%;
	background:#f4f4f4;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.social-links-one a:hover{
	background:#ff573b;
	color:#ffffff;	
}

.social-links-two a{
	position:relative;
	display:inline-block;
	text-align:center;
	margin-right:5px;
	width:40px;
	height:40px;
	border:1px solid #e0e0e0;
	line-height:38px;
	font-size:14px;
	color:#cccccc;
	border-radius:50%;
	background:none;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.social-links-two a:hover{
	background:#ff573b;
	border-color:#ff573b;
	color:#ffffff;	
}

.social-links-three a{
	position:relative;
	display:inline-block;
	text-align:center;
	margin-right:5px;
	width:32px;
	height:32px;
	border:1px solid #f1f1f1;
	line-height:30px;
	font-size:12px;
	color:#aaaaaa;
	background:#f1f1f1;
	border-radius:50%;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.social-links-three a:hover{
	background:#ff573b;
	border-color:#ff573b;
	color:#ffffff;	
}

/*** 

====================================================================
	Main Slider style
====================================================================

***/

.main-slider{
	position:relative;
	width:100%;
	margin-top:-32px;	
}

.main-slider .outer-box{
	position:relative;
	width:380px;
	background:#ffffff;	
}

.main-slider .outer-box .upper-content{
	position:relative;
	padding:30px;
}

.main-slider .outer-box h2{
	font-size:48px;
	font-weight:400;
	line-height:60px;
	font-family:'Open Sans',sans-serif;
	text-transform:capitalize;
	color:#373737;
}

.main-slider .outer-box h2 strong{
	font-weight:700;
}

.main-slider .outer-box .text{
	font-size:22px;
	font-weight:300;
	line-height:30px;
	margin:10px 0px 25px;
}

.main-slider .outer-box .info-list{
	position:relative;
}

.main-slider .outer-box .info-list li{
	position:relative;
	float:left;
	width:33.333%;
	padding:5px 5px;
	text-align:center;
}

.main-slider .outer-box .info-list li:first-child{
	text-align:left;	
}

.main-slider .outer-box .info-list li strong{
	display:block;
	font-weight:700;
	color:#ff573b;
	font-size:30px;
	margin-bottom:5px;
}

.main-slider .outer-box .info-list li:after{
	content:'';
	position:absolute;
	right:-1px;
	border-right:1px solid #e0e0e0;
	top:10%;
	height:80%;
}

.main-slider .outer-box .info-list li:last-child:after{
	display:none;	
}

.main-slider .outer-box .lower-info{
	position:relative;
	display:table;
	width:100%;
	vertical-align:middle;
}

.main-slider .outer-box .lower-info .data-cell{
	position:relative;
	display:table-cell;
	vertical-align:middle;
}

.main-slider .outer-box .lower-info .price{
	font-size:36px;
	line-height:36px;
	padding:10px;
	font-weight:700;
	background:#2f2f2f;
	color:#ffffff;
	text-align:center;
	width:60%;
}

.main-slider .outer-box .lower-info .read-more{
	font-size:14px;
	line-height:36px;
	padding:15px 10px;
	font-weight:400;
	background:#ff563b;
	color:#ffffff;
	text-align:center;
	text-transform:uppercase;
	width:40%;
}

.main-slider .outer-box .lower-info .read-more:hover{
	background:#2f2f2f;
}

.tp-bullets{
	display:none;	
}

.tp-bullets.preview4 .bullet{
	background:#ffc13b !important;
	border-color:#202020 !important;
	margin:0px 5px;	
}

.tp-bullets.preview4 .bullet:hover,
.tp-bullets.preview4 .bullet.selected{
	border-color:#ffc13b !important;	
}

.revolution-slider .tp-bannertimer{
	display:none !important;	
}

/*** 

====================================================================
	About Property style
====================================================================

***/

.sec-title{
	position:relative;
	margin-bottom:50px;	
}

.sec-title.centered{
	text-align:center;
	max-width:1000px;
	margin:0 auto 50px;	
}

.sec-title h2{
	color:#2f2f2f;
	font-size:36px;
	font-weight:500;
	margin-bottom:15px;
	text-transform:uppercase;
	letter-spacing:1px;	
}

.sec-title h3{
	color:#2f2f2f;
	font-size:30px;
	font-weight:600;
	margin-bottom:20px;
	text-transform:capitalize;
}

.sec-title h2 strong{
	font-weight:800;
	letter-spacing:0px;
}

.sec-title .desc-text{
	font-size:15px;
	color:#636363;
}

.about-property{
	position:relative;
	padding:100px 0px 70px;	
}

.about-property .property-info{
	position:relative;	
}

.about-property .property-info.style-two{
	margin-bottom:40px;	
}

.about-property .property-info .info-block{
	position:relative;
	margin-bottom:30px;
	text-align:center;
	color:#2f2f2f;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.about-property .property-info .icon-box{
	position:relative;
	top:0px;
	display:block;
	width:124px;
	height:124px;
	padding:32px 10px;
	font-size:50px;
	line-height:60px;
	margin:0 auto 25px;
	color:#ff573b;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.property-info.style-two .icon-box{
	width:110px;
	height:110px;
	padding:25px 10px;	
}

.about-property .property-info .info-block:hover{
	color:#ff573b;
}

.about-property .property-info .info-block:hover .icon-box{
	-webkit-transform:translate(0px,-10px) scale(0.85);
	-ms-transform:translate(0px,-10px) scale(0.85);
	-o-transform:translate(0px,-10px) scale(0.85);
	-moz-transform:translate(0px,-10px) scale(0.85);
	transform:translate(0px,-10px) scale(0.85);
}

.about-property .property-info .icon-box:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	border:1px solid #e0e0e0;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;	
}

.property-info.style-two .icon-box:before{
	border:2px solid #ff573b;
	border-radius:50%;	
}

.about-property .property-info .info-block:hover .icon-box:before{
	border-color:#ff573b;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);	
}

.about-property .property-info .icon-box .icon{
	position:relative;
	z-index:1;	
}

.about-property .property-info .info-block .title{
	position:relative;
	font-size:16px;
	font-family:'Raleway',sans-serif;
	text-transform:uppercase;
	font-weight:700;
	line-height:24px;
}

.about-property .property-info .info-block .count{
	position:relative;
	font-size:36px;
	font-weight:700;
	line-height:40px;
}


/*** 

====================================================================
	Property Details Section
====================================================================

***/

.property-details{
	position:relative;
	background-position:center center;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	overflow:hidden;
}

.property-details .right-column{
	position:relative;
	float:right;
}

.property-details .right-column:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:2000px;
	height:100%;
	background:rgba(255,255,255,0.95);
	z-index:0;	
}

.property-details .right-column .inner-box{
	position:relative;
	float:right;
	padding:60px 0px 70px 50px !important;
	z-index:1;
}

.property-details .right-column h2{
	position:relative;
	font-size:24px;
	color:#2f2f2f;
	font-weight:700;
	margin-bottom:30px;
	text-transform:uppercase;	
}

.tabs-box{
	position:relative;
	z-index:1;
}

.property-details .tabs-box .tab-buttons{
	position:relative;
	width:100%;
	margin-bottom:20px;
}

.property-details .tabs-box .tab-buttons .tab-btn{
	position:relative;
	display:block;
	float:left;
	margin:0px 15px 10px 0px;
	padding:10px 22px;
	color:#2f2f2f;
	background:#ffffff;
	text-align:center;
	font-size:13px;
	font-family:'Raleway',sans-serif;
	text-transform:uppercase;
	font-weight:700;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	-webkit-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.15);
	-ms-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.15);
	-o-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.15);
	-moz-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.15);
	box-shadow:0px 0px 4px 0px rgba(0,0,0,0.15);
}

.property-details .tabs-box .tab-buttons .tab-btn:hover,
.property-details .tabs-box .tab-buttons .tab-btn.active-btn{
	color:#ffffff;
	background:#ff573b;
}

.tabs-box .tab-content{
	position:relative;	
}

.tabs-box .tab-content .tab{
	position:relative;
	display:none;
	top:50px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.tabs-box .tab-content .active-tab{
	display:block;
	top:0px;	
}

.property-details .tabs-box h3{
	font-size:14px;
	text-transform:uppercase;
	margin-bottom:10px;
	color:#253d4a;
	font-weight:700;
}

.property-details .tabs-box .text{
	margin-bottom:30px;	
}

.styled-list-one{
	position:relative;
}

.styled-list-one li{
    line-height: 24px;
    margin-bottom: 3px;
    position: relative;
	padding-left:30px;
	color:#686868;
	font-size:14px;
}

.styled-list-one li strong{
	color:#373737;
	font-weight:600;
	padding-right:4px;	
}

.styled-list-one li:before {
	content:'\f133';
	font-family:'Flaticon';
    color: #ff573b;
    font-size: 14px;
    left: 0;
    line-height: 18px;
    position: absolute;
    top: 3px;
}

/*** 

====================================================================
	Gallery Sections
====================================================================

***/

.gallery-section{
	position:relative;
	padding:100px 0px;
}

.gallery-section .filters{
	position:relative;
	text-align:center;
	margin-bottom:40px;
}

.gallery-section .filters li{
	position:relative;
	display:inline-block;
	padding:5px 20px;
	line-height:24px;
	color:#666666;
	cursor:pointer;
	text-transform:uppercase;
	font-size:13px;
	font-weight:600;
	margin:0px 5px 10px;
	border:1px solid #e0e0e0;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.gallery-section .filters li:hover,
.gallery-section .filters li.active{
	color:#ffffff;
	background:#ff573b;
	border-color:#ff573b;	
}


.default-portfolio-item{
	position:relative;
}

.default-portfolio-item.mix{
	display:none;
}

.fullwidth .default-portfolio-item{
	padding:0px !important;	
}

.sortable-masonry .items-container{
	margin-left:-15px;
	margin-right:-15px;	
}

.sortable-masonry .masonry-item{
	margin-bottom:24px;
	padding:0px 15px;
}

.default-portfolio-item .inner-box{
	position:relative;
	width:100%;
	overflow:hidden;
}

.default-portfolio-item .image-box{
	position:relative;
	display:block;	
}

.default-portfolio-item .image-box img{
	position:relative;
	display:block;
	width:100%;
}

.default-portfolio-item .overlay-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	text-align:center;
	color:#ffffff;
	border:15px solid transparent;
	opacity:0;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	-moz-transform:scale(0);
	transform:scale(0);
}

.default-portfolio-item .inner-box:hover .overlay-box{
	opacity:1;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);	
}

.default-portfolio-item .overlay-inner{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:table;
	vertical-align:middle;
	padding:10px 30px;
	background:rgba(255,255,255,0.90);
}

.default-portfolio-item .overlay-inner .content{
	position:relative;
	display:table-cell;
	vertical-align:middle;
}

.default-portfolio-item .overlay-inner h3{
	font-size:20px;
	color:#373737;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:15px;
}

.default-portfolio-item .overlay-inner h3 a{
	color:#373737;	
}

.default-portfolio-item .overlay-inner h3 a:hover{
	color:#ff573b;	
}

.default-portfolio-item .overlay-inner .image-link{
	position:relative;
	display:block;
	font-size:20px;
	color:#ff573b;
}

.default-portfolio-item .overlay-inner .image-link .icon{
	position:relative;
	display:inline-block;
	font-size:36px;
	line-height:40px;
}

/*** 

====================================================================
	Property Dimensions Section
====================================================================

***/

.property-dimensions{
	position:relative;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	padding:100px 0px 70px;
}

.property-dimensions .tabs-box .tab-buttons{
	position:relative;
	display:table;
	vertical-align:middle;
	width:100%;
	margin-bottom:70px;
	border:1px solid #e0e0e0;
	-webkit-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.10);
	-ms-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.10);
	-o-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.10);
	-moz-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.10);
	box-shadow:0px 0px 4px 0px rgba(0,0,0,0.10);
}

.property-dimensions .tabs-box .tab-buttons .tab-btn{
	position:relative;
	display:table-cell;
	vertical-align:middle;
	padding:10px 15px;
	color:#2f2f2f;
	background:#ffffff;
	text-align:center;
	font-size:13px;
	border-right:1px solid #e0e0e0;
	text-transform:uppercase;
	font-weight:500;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.property-dimensions .tabs-box .tab-buttons .tab-btn:last-child{
	border-right:none;	
}

.property-dimensions .tabs-box .tab-buttons .tab-btn:hover,
.property-dimensions .tabs-box .tab-buttons .tab-btn.active-btn{
	color:#ffffff;
	background:#ff573b;
	border-color:#ff573b;
}

.property-dimensions .image-column{
	position:relative;
	padding-right:30px;
	margin-bottom:30px;	
}

.property-dimensions .content-column{
	position:relative;
	padding-left:30px;
	margin-bottom:30px;	
}

.property-dimensions .image-column .image-box{
	position:relative;
	width:100%;	
}

.property-dimensions .image-column .image-box img{
	position:relative;
	display:block;
	width:100%;	
}

.property-dimensions .image-column .image-box .over-layer{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	border:20px solid transparent;	
}

.property-dimensions .image-column .image-box .left-layer{
	position:absolute;
	left:0px;
	top:0px;
	width:50px;
	height:100%;
	border:1px solid #ffffff;
	border-right:none;	
}

.property-dimensions .image-column .image-box .right-layer{
	position:absolute;
	right:0px;
	top:0px;
	width:50px;
	height:100%;
	border:1px solid #ffffff;
	border-left:none;	
}

.property-dimensions .image-column .image-box .dimensions-value{
	position:absolute;
	left:0px;
	bottom:0px;
	font-size:20px;
	font-weight:700;
	color:#2f2f2f;
	background:#ffffff;
	line-height:26px;
	padding:12px 20px;
    -moz-transform-origin:    25px 25px 0;
    -ms-transform-origin:     25px 25px 0;
    -o-transform-origin:      25px 25px 0;
	-webkit-transform-origin: 25px 25px 0;
	transform-origin: 25px 25px 0;
	-webkit-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	transform:rotate(-90deg);
}

.property-dimensions .content-column h3{
	font-size:24px;
	font-weight:700;
	text-transform:capitalize;
	margin-bottom:20px;
	color:#2f2f2f;
}

.property-dimensions .content-column .upper-content{
	padding-bottom:25px;
	border-bottom:1px solid #e0e0e0;
	margin-bottom:25px;	
}

.property-dimensions .content-column .featured-text{
	color:#5b5b5b;
	font-weight:600;
	margin-bottom:15px;
	font-size:16px;
}

.styled-list-two{
	position:relative;
}

.styled-list-two li{
    line-height: 24px;
    margin-bottom: 5px;
    position: relative;
	padding-left:30px;
	color:#2f2f2f;
	font-size:14px;
}

.property-dimensions .styled-list-two li{
	font-weight:700;
	margin-bottom:10px;
	text-transform:uppercase;
}

.styled-list-two li:before {
	content:'\f108';
	font-family:'Flaticon';
    color: #ff573b;
    font-size: 16px;
    left: 0;
    line-height: 18px;
    position: absolute;
    top: 3px;
}

/*** 

====================================================================
	Nearby Locations Section Style
====================================================================

 ***/

.nearby-locations{
	position:relative;
	padding:100px 0px 0px;
}

.nearby-locations .sec-title{
	margin-bottom:80px;	
}

.locations-box{
	position:relative;
	width:100%;
	height:550px;	
}

.nearby-locations .location-block{
	position:relative;
	margin-bottom:50px;
}

.nearby-locations .location-block:after{
	content:'';
	position:absolute;
	right:-1px;
	top:5%;
	height:90%;
	border-right:1px solid #e0e0e0;	
}

.nearby-locations .location-block:last-child:after{
	display:none;	
}

.nearby-locations .location-block .inner-box{
	position:relative;
	padding:0px 10px 0px 90px;	
}

.nearby-locations .location-block .inner-box .icon-box{
	position:absolute;
	left:10px;
	top:50%;
	margin-top:-30px;
	width:60px;
	height:60px;
	padding:10px;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	color:#ffffff;
	background:#ff4c4c;
	font-size:24px;	
}

.nearby-locations .location-block .green-theme .icon-box{
	background:#36c332;	
}

.nearby-locations .location-block .purple-theme .icon-box{
	background:#c813f5;	
}

.nearby-locations .location-block .blue-theme .icon-box{
	background:#07a3d6;	
}

.nearby-locations .location-block .inner-box h4{
	font-size:16px;
	text-transform:uppercase;
	font-weight:700;
	color:#2f2f2f;	
}

.nearby-locations .location-block .inner-box .location-title{
	color:#999999;
}

.nearby-locations .location-block .inner-box .location-distance{
	font-size:20px;
	color:#ff4c4c;
}

.nearby-locations .location-block .green-theme .location-distance{
	color:#36c332;	
}

.nearby-locations .location-block .purple-theme .location-distance{
	color:#c813f5;	
}

.nearby-locations .location-block .blue-theme .location-distance{
	color:#07a3d6;	
}

/*** 

====================================================================
	Agent Section Style
====================================================================

 ***/

.agent-section{
	position:relative;
	padding:100px 0px 70px;
}

.agent-section .column{
	position:relative;
	margin-bottom:30px;	
}

.agent-section .agent-box{
	position:relative;
	padding-right:30px;	
}

.agent-section .agent-box .image-box img{
	display:block;
	width:100%;	
}

.agent-section .agent-box .basic-info{
	position:relative;
	margin-bottom:20px;
}

.agent-section .agent-box .basic-info h4{
	font-size:20px;
	font-weight:700;
	text-transform:capitalize;
	color:#2f2f2f;
}

.agent-section .agent-box .basic-info .designation{
	font-size:14px;
	font-style:italic;
	text-transform:capitalize;
	color:#ff573b;
}

.agent-section .agent-box .desc-text{
	position:relative;
	margin-bottom:40px;
	font-size:14px;	
}

.agent-section .agent-box .contact-info{
	margin-bottom:40px;	
}

.agent-section .agent-box .contact-info li{
	position:relative;
	padding-left:55px;
	margin-bottom:25px;
	font-size:15px;
	color:#aaaaaa;
	font-style:italic;
}

.agent-section .agent-box .contact-info li:last-child{
	margin-bottom:0px;	
}

.agent-section .agent-box .contact-info li a{
	color:#aaaaaa;	
}

.agent-section .agent-box .contact-info li .icon{
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-20px;
	line-height:40px;
	height:40px;
	font-size:32px;
	color:#cccccc;
}

.agent-section .agent-box .contact-info li strong{
	position:relative;
	display:block;
	color:#2f2f2f;
	line-height:20px;
	font-style:normal;
}

.agent-section .form-column{
	position:relative;
	padding-left:30px;	
}

.agent-section .form-column .title-box{
	margin-bottom:20px;	
}

.agent-section .form-column .title-box h5{
	font-size:15px;
	line-height:15px;
	font-weight:500;
	color:#aaaaaa;	
}

.agent-section .form-column .title-box h3{
	font-size:30px;
	font-weight:500;
	color:#2f2f2f;
	text-transform:uppercase;
}

.agent-section .form-column .title-box h3 strong{
	font-weight:800;	
}

.default-form{
	position:relative;	
}

.default-form .form-group{
	position:relative;
	display:block;
	margin-bottom:15px;	
}

.default-form .form-group input[type="text"],
.default-form .form-group input[type="email"],
.default-form .form-group input[type="password"],
.default-form .form-group input[type="tel"],
.default-form .form-group input[type="number"],
.default-form .form-group select,
.default-form .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:26px;
	padding:12px 15px;
	border:1px solid #e0e0e0;
	height:52px;
	background:none;
	z-index:1;
	font-size:14px;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
}

.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group input[type="password"]:focus,
.default-form .form-group input[type="tel"]:focus,
.default-form .form-group input[type="number"]:focus,
.default-form .form-group select:focus,
.default-form .form-group textarea:focus{
	border-color:#ff573b;
}

.default-form .form-group input.error,
.default-form .form-group select.error,
.default-form .form-group textarea.error{
	border-color:#ff0000 !important;
}

.default-form .form-group label.error{
	display:block;
	padding:10px 0px 0px;
	line-height:24px;
	font-size:12px;
	text-transform:uppercase;
	color:#ff0000;
	font-weight:normal !important;	
}

.default-form .form-group select.styled{
	-webkit-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
	background:url(../images/icons/icon-select.png) right center no-repeat;	
}

.default-form .form-group textarea{
	resize:none;
	height:140px;	
}

.default-form button{
	display:inline-block;
	font-size:14px;
	text-transform:capitalize;
	line-height:24px;
	padding:10px 30px;
	border:2px solid #2f2f2f;
	background:#2f2f2f;
	color:#ffffff;	
}

.default-form button:hover{
	background:#ff573b;
	border-color:#ff573b;	
}


/*** 

====================================================================
	Testimonials Section style
====================================================================

***/

.testimonials-section{
	position:relative;
	padding:100px 0px 70px;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}

.testimonials-section:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.80);
	z-index:0;	
}

.testimonials-section .sec-title h2{
	color:#ffffff;	
}

.testimonials-section .auto-container{
	position:relative;
	z-index:5;
}

.testimonials-section .testimonials-slider .slide-item{
	position:relative;
	margin:10px;
}

.testimonials-section .testimonials-slider .info-box{
	position:relative;
	padding:10px 0px 20px 90px;
	min-height:70px;
}

.testimonials-section .testimonials-slider .image-box{
	position:absolute;
	left:0px;
	top:0px;
	width:70px;
	height:70px;
	border:3px solid #ffffff;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	overflow:hidden;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}

.testimonials-section .testimonials-slider .slide-item:hover,
.testimonials-section .testimonials-slider .slide-item:hover .image-box{
	border-color:#ff573b;	
}

.testimonials-section .testimonials-slider .image-box img{
	position:relative;
	width:100% !important;
	display:block;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}

.testimonials-section .slide-item h3{
	position:relative;
	font-size:16px;
	font-family:'Raleway',sans-serif;
	color:#ffffff;
	font-weight:600;
	letter-spacing:1px;
	margin-bottom:0px;
	text-transform:uppercase;	
}

.testimonials-section .slide-item .designation{
	position:relative;
	font-size:15px;
	color:#ff573b;
	margin-bottom:0px;	
}

.testimonials-section .slide-text{
	position:relative;
	font-size:15px;
	color:#343434;
	line-height:1.8em;
	background:#ffffff;
	padding:30px 40px 20px;
	margin-bottom:30px;
	border-radius:4px;
}

.testimonials-section .slide-text:after{
	content:'';
	position:absolute;
	left:20px;
	bottom:-18px;
	border:10px solid transparent;
	border-top:10px solid #ffffff;
}

.testimonials-section .owl-controls{
	position:relative;
	text-align:center;
	padding:20px 0px 0px;
	top:0px;	
}

.testimonials-section .owl-nav{
	display:none !important;
}

.testimonials-section .owl-dots{
	display:block !important;
}

.owl-theme .owl-dots .owl-dot span{
	background:#ffffff;
	width:12px;
	height:12px;
	border:1px solid #ffffff;
	margin:0px 4px;
	border-radius:50%;	
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
	background:#ff573b;
	border-color:#ff573b !important;	
}


/*** 

====================================================================
	Blog News Section
====================================================================

***/

.blog-news-section{
	position:relative;
	padding:100px 0px 50px;
}

.blog-news-section .blog-news-column{
	margin-bottom:50px;	
}

.blog-news-column .image-box img{
	display:block;
	width:100%;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.blog-news-column:hover .image-box img{
	-webkit-transform:scale(1.05,1.05) rotate(-2deg);	
	-ms-transform:scale(1.05,1.05) rotate(-2deg);	
	-o-transform:scale(1.05,1.05) rotate(-2deg);	
	-moz-transform:scale(1.05,1.05) rotate(-2deg);	
	transform:scale(1.05,1.05) rotate(-2deg);	
}

.blog-news-column .image-box .category{
	position:absolute;
	left:0px;
	bottom:0px;
	line-height:20px;
	padding:5px 15px;
	font-size:12px;
	text-transform:uppercase;
	color:#edecec;
	font-weight:600;
	font-family:'Raleway',serif;
	background:#ff573b;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}

.blog-news-column:hover .image-box .category{
	background:#2f2f2f;
}

.blog-news-column .inner-box{
	position:relative;
	background:#ffffff;	
}

.blog-news-column .image-box{
	position:relative;
	overflow:hidden;	
}

.blog-news-column .content-box{
	position:relative;
	padding:25px 0px 0px;	
}

.blog-news-column h3{
	font-size:18px;
	font-weight:600;
	color:#070707;
	margin-bottom:5px;
}

.blog-news-column .text h3{
	margin-bottom:10px;
	font-size:20px;
	color:#666666;
}

.sidebar-page-container .blog-news-column h3{
	font-size:22px;	
}

.sidebar-page-container .two-column .blog-news-column h3{
	font-size:18px;	
}

.blog-news-column h3 a{
	color:#070707;	
}

.blog-news-column h3 a:hover,
.blog-news-column .post-info li a:hover{
	color:#ff573b;	
}

.blog-news-column .post-info{
	position:relative;
	color:#777777;
	font-size:13px;
	line-height:20px;
	padding-bottom:15px;
	border-bottom:1px solid #e0e0e0;
	margin-bottom:15px;
}

.blog-news-column .post-info li{
	position:relative;
	display:inline-block;
	margin:0px 12px;
}

.blog-news-column .post-info li:after{
	content:'/';
	position:absolute;
	right:-15px;
	top:0px;
	font-style:normal !important;
}

.blog-news-column .post-info li:last-child:after{
	display:none;	
}

.blog-news-column .post-info li:first-child{
	margin-left:0px;	
}

.blog-news-column .post-info li a{
	color:#777777;	
}

.blog-news-column .content-box .text{
	position:relative;
	color:#888888;
	font-size:14px;
	margin-bottom:25px;
	line-height:1.9em;
}

.blog-news-column .content-box .read-more{
	display:inline-block;
	line-height:24px;
	padding:7px 20px;
	border:2px solid #e0e0e0;
	font-size:13px;
	color:#000000;
	font-weight:700;
	font-family:'Raleway',sans-serif;
	text-transform:uppercase;	
}

.blog-news-column .content-box .read-more:hover{
	color:#ff573b;
	border-color:#ff573b;	
}


/*** 

====================================================================
	Subscribe Intro
====================================================================

***/

.call-to-action{
	position:relative;
	padding:50px 0px 30px;
	background:#2f2f2f;
	color:#ffffff;	
}

.call-to-action .column{
	margin-bottom:20px;
	font-size:18px;
	color:#bdbdbd;
}

.call-to-action .column h2{
	font-size:26px;
	margin-bottom:5px;
	font-weight:600;
	color:#ffffff;
}


/*** 

====================================================================
	Main Footer
====================================================================

***/

.main-footer{
	position:relative;
	color:#888888;
	background-color:#ffffff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}

.main-footer:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.95);	
}

.main-footer .footer-upper{
	position:relative;
	padding:70px 0px 20px;
	z-index:1;
}

.main-footer .footer-upper .column{
	position:relative;
	margin-bottom:30px;	
}

.main-footer .footer-upper .about-widget .text{
	color:#808080;
	max-width:280px;
	margin-bottom:30px;
}

.footer-upper .column h2{
	position:relative;
	font-size:18px;
	line-height:1.4em;
	margin-bottom:25px;
	font-weight:700;
	text-transform:uppercase;
	color:#2f2f2f;
}

.main-footer .footer-upper a{
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

.main-footer .footer-upper a:hover{
	color:#ffffff;	
}

.footer-upper .links-widget li{
	position:relative;
	margin-bottom:7px;
}

.footer-upper .links-widget li a{
	position:relative;
	display:block;
	font-size:13px;
	color:#808080;
	line-height:24px;
}

.footer-upper .links-widget li a:hover,
.footer-upper .news-widget .news-post a:hover{
	color:#ff573b;	
}

.footer-upper .tweets-widget .tweet{
	position:relative;
	padding:0px 0px 0px 30px;
	margin-bottom:20px;
	font-size:13px;
	color:#808080;
}

.footer-upper .tweets-widget .tweet .content{
	margin-bottom:5px;
	max-width:260px;	
}

.footer-upper .tweets-widget .tweet a{
	position:relative;
	color:#808080;
}

.footer-upper .tweets-widget .tweet .time{
	position:relative;
	color:#333333;
	font-size:12px;
}

.footer-upper .tweets-widget .tweet .icon{
	position:absolute;
	left:0px;
	top:0px;
	font-size:14px;
	color:#ff573b;
}

.footer-upper .news-widget .news-post{
	position:relative;
	padding:0px 0px 0px 80px;
	margin-bottom:25px;
	color:#888888;
	line-height:20px;
}

.footer-upper .news-widget .news-post .news-content{
	margin-bottom:5px;	
}

.footer-upper .news-widget .news-post .text a{
	position:relative;
	color:#888888;
	font-size:13px;
	line-height:20px;
}

.footer-upper .news-widget .news-post h4{
	font-size:16px;
	font-weight:600;
	color:#000000;
}

.footer-upper .news-widget .news-post h4 a{
	color:#000000;	
}

.footer-upper .news-widget .news-post .time{
	position:relative;
	color:#333333;
	font-size:12px;
}

.footer-upper .news-widget .news-post .image-thumb{
	position:absolute;
	width:65px;
	height:65px;
	left:0px;
	top:5px;
}

.footer-upper .news-widget .news-post .image-thumb img{
	display:block;
	width:65px;	
}

.main-footer .social-links a{
	position:relative;
	display:inline-block;
	text-align:center;
	margin-right:5px;
	width:34px;
	height:34px;
	border:1px solid #e0e0e0;
	line-height:32px;
	font-size:14px;
	color:#cccccc;
	border-radius:50%;
	background:none;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-footer .social-links a:hover{
	background:#ff573b;
	border-color:#ff573b;
	color:#ffffff;	
}

.footer-bottom{
	position:relative;
	border-top:1px solid #e0e0e0;
	padding:12px 0px;
	font-size:14px;
	text-align:center;
}

.footer-bottom .copyright{
	position:relative;
	line-height:20px;
	padding:5px 0px;
}

/*** 

====================================================================
	Map Section Style
====================================================================

***/

.map-section{
	position:relative;
}

.map-section.style-two{
	padding:80px 0px 60px;
}

.map-section .map-container{
	position:relative;
	z-index:10;	
}

.map-section .map-data{
	text-align:center;
	font-size:13px;
	font-weight:400;
	font-family:'Open Sans',sans-serif;
}

.map-section .map-canvas{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	min-height:300px;	
}

.map-section.style-two .map-canvas{
	position:relative;
	width:100%;
	height:400px;
}

.map-section .map-data h6{
	font-size:16px;
	font-weight:600;
	text-align:center;
	margin-bottom:5px;
	color:#2e2e2e;
	font-family:'Open Sans',sans-serif;	
}

.map-section .outer-container{
	position:relative;
	max-width:1200px;
	padding:150px 15px;
	margin:0 auto;
	z-index:20;	
}	

.map-section .outer-container .info-container{
	position:relative;
	max-width:1000px;
	margin:0 auto;
	padding:60px 0px 20px 50px;
	background:#ffffff;
	border:1px solid #e0e0e0;
	z-index:4;
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.20);
	-ms-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.20);
	-o-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.20);
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.20);	
}

.map-section .outer-container .info-container:after{
	content:'';
	position:absolute;
	left:50%;
	margin-left:-18px;
	bottom:-22px;
	height:23px;
	width:36px;
	background:url(../images/icons/down-arrow.png) center top no-repeat;
	z-index:5;
}

.map-section .outer-container .info-container .info-column{
	position:relative;
	padding:0px 40px 0px;
	margin-bottom:30px;
	border-right:1px solid #e0e0e0;
	color:#acacac;	
}

.map-section .outer-container .info-container .info-column:first-child{
	
}

.map-section .outer-container .info-container .info-column:last-child{
	border-right:none;
	padding-right:0px;	
}

.map-section .outer-container .info-container .inner-box{
	position:relative;
	padding-left:80px;
}

.map-section .outer-container .info-container .inner-box .icon{
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-30px;
	width:60px;
	height:60px;
	font-size:30px;
	padding:10px;
	line-height:40px;
	color:#ffffff;
	text-align:center;
	background:#ff573b;
	border-radius:50%;	
}

.map-section .outer-container .info-container .inner-box h4{
	font-family:'Open Sans',sans-serif;
	color:#2f2f2f;
	font-size:18px;
	line-height:20px;
	font-weight:700;
}

/*** 

====================================================================
	About Company Style
====================================================================

***/

.about-company{
	position:relative;
	padding:100px 0px 70px;
	background:#fbfbfb;
}

.about-company .column{
	position:relative;
	margin-bottom:30px;
}

.about-company .image-column{
	position:relative;
	padding-right:30px;
}

.about-company .image-column .image-box{
	position:relative;
	width:100%;
	display:block;
	outline:1px solid #ffffff;
	outline-offset:-16px;
}

.about-company .image-column .image-box img{
	display:block;
	width:100%;	
}

.about-company .title-box{
	margin-bottom:15px;	
}

.about-company .title-box h5{
	font-size:15px;
	line-height:15px;
	font-weight:500;
	color:#aaaaaa;	
}

.about-company .title-box h3{
	font-size:36px;
	font-weight:500;
	color:#2f2f2f;
	text-transform:uppercase;
}

.about-company .title-box h3 strong{
	font-weight:800;	
}

.about-company .featured-text{
	font-size:15px;
	font-weight:600;
	color:#373737;
	margin-bottom:20px;	
}

.about-company .featured-text strong{
	font-weight:700;	
}

.about-company .text{
	font-size:14px;
	color:#999999;
	margin-bottom:40px;	
}

.about-company .text p{
	margin-bottom:20px;	
}

.styled-list-three{
	position:relative;
}

.about-company .styled-list-three{
	margin-left:-30px;
	margin-right:-30px;
	margin-bottom:20px;	
}

.styled-list-three li{
    line-height: 24px;
    margin-bottom: 10px;
    position: relative;
	padding-left:84px;
	color:#999999;
	font-style:italic;
	font-size:14px;
}

.about-company .styled-list-three li{
	float:left;
	padding-right:36px;
	margin-bottom:20px;
}

.about-company .styled-list-three li:after{
	content:'';
	position:absolute;
	right:5px;
	top:0px;
	height:100%;
	border-right:1px solid #e0e0e0;
	-webkit-transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
	transform:skewX(-15deg);	
}

.about-company .styled-list-three li:last-child:after{
	display:none;	
}

.styled-list-three li strong{
	display:block;
	color:#242424;
	font-size:18px;
	font-weight:700;
	font-style:normal;
	font-family:'Raleway',sans-serif;
}

.styled-list-three li:before {
	content:'\f133';
	font-family:'Flaticon';
    color: #ff573b;
	font-style:normal;
    font-size: 16px;
	text-align:center;
	height:36px;
	width:36px;
	line-height:34px;
	border:1px solid #ff573b;
    left: 30px;
    position: absolute;
    top: 50%;
	margin-top:-20px;
	border-radius:50%;
}

.btn-download{
	position:relative;
	display:inline-block;
	line-height:26px;
	padding:8px 22px;
	background:#404040;
	color:#ffffff;
	border:2px solid #404040;
	font-size:13px;
	text-transform:uppercase;
	font-weight:700;
	font-family:'Raleway',sans-serif;
}

.btn-download .icon{
	position:relative;
	top:2px;
	line-height:24px;
	font-size:20px;
	padding-right:12px;	
}

.btn-download:hover{
	background:none;
	color:#404040;	
}

/*** 

====================================================================
	Features Section Style
====================================================================

***/

.features-section{
	position:relative;
	padding:100px 0px 60px;
}

.feature-column{
	position:relative;
	margin-bottom:40px;	
}

.feature-column .inner-box{
	position:relative;	
}

.feature-column .upper-title{
	position:relative;
	padding:12px 0px 10px 100px;
	min-height:80px;
	font-style:italic;
	color:#2f2f2f;
	font-size:16px;
	margin-bottom:20px;
}

.feature-column .upper-title strong{
	display:block;
	color:#242424;
	font-size:30px;
	font-weight:700;
	font-style:normal;
	margin-bottom:7px;
}

.feature-column .upper-title .icon {
    color: #ff573b;
	font-style:normal;
    font-size: 36px;
	text-align:center;
	height:80px;
	width:80px;
	padding:20px 10px;
	line-height:36px;
	border:2px solid #ff573b;
    left: 0px;
    top: 50%;
	margin-top:-40px;
    position: absolute;
	border-radius:50%;
}

.feature-column .desc-text{
	position:relative;
	color:#999999;
	padding-right:40px;
}


/*** 

====================================================================
	Page Title Style
====================================================================

 ***/
 
.page-title{
	position:relative;
	padding:90px 0px 20px;
	text-align:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	color:#ffffff;
	margin-top:-32px;
}

.page-title:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.60);
}

.page-title .auto-container{
	 position:relative;
	 z-index:5;
}

.page-title h1{
	font-size:42px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:800;
	color:#ffffff;
}

.breadcrumb-outer{
	position:relative;
	padding:20px 0px;
	border-bottom:1px solid #e9e9e9;	
}

.breadcrumb-outer .bread-crumb{
	position:relative;
	color:#cccccc;
}

.breadcrumb-outer .bread-crumb a{
	position:relative;
	font-size:13px;
	color:#bbbbbb;
	margin:0px 7px;
}

.breadcrumb-outer .bread-crumb a:hover,
.breadcrumb-outer .bread-crumb a.current{
	position:relative;
	color:#ff573b;
}


/*** 

====================================================================
	Sponsors Section Style
====================================================================

***/

.sponsors-section{
	position:relative;
	padding:100px 0px;
	background:#ffffff;
}

.sponsors-section .slider-outer{
	position:relative;
	border:1px solid #e9e9e9;
	margin:0px 0px;
	margin-right:-1px;
}

.sponsors-section .sponsors-slider{
	position:relative;
}

.sponsors-section .sponsors-slider li img{
	position:relative;
	right:-1px;
	border-right:1px solid #e9e9e9;	
}
.sponsors-section .owl-controls{
	display:none !important;	
}


/*** 

====================================================================
	Default Section Style
====================================================================

***/

.default-section{
	position:relative;
	padding:100px 0px 60px;
}

.check-column{
	position:relative;
	margin-bottom:40px;
	padding:0px 40px;
}

.default-section .row.outer{
	margin-left:-40px;
	margin-right:-40px;
}

.outer .check-column{
	border-right:1px solid #e0e0e0;	
}

.outer .check-column:last-child{
	border-right:none;	
}

.check-column .inner-box{
	position:relative;	
}

.check-column .upper-title{
	position:relative;
	padding:4px 0px 0px 65px;
	min-height:48px;
	font-style:italic;
	color:#a7a7a7;
	font-size:16px;
	margin-bottom:20px;
}

.check-column .upper-title strong{
	display:block;
	color:#242424;
	font-size:18px;
	font-weight:700;
	font-style:normal;
	font-family:'Raleway',sans-serif;
}

.check-column .upper-title .icon {
    color: #ffffff;
	font-style:normal;
    font-size: 16px;
	text-align:center;
	height:48px;
	width:48px;
	padding:10px 10px;
	line-height:24px;
	border:2px solid #ff573b;
	background:#ff573b;
    left: 0px;
    top: 50%;
	margin-top:-22px;
    position: absolute;
	border-radius:50%;
}

.check-column .desc-text{
	position:relative;
	color:#999999;
}

/*** 

====================================================================
	Tour Section Style
====================================================================

***/

.tour-section{
	position:relative;
	padding:80px 0px 100px;
}

.gallery-carousel-container{
	position:relative;
	width:100%;
	margin-bottom:50px;
}

.gallery-carousel-container .ms-gallery-template .ms-gallery-botcont{
	height:auto !important;
	min-height:55px;
}

.gallery-carousel-container .ms-gallery-template .ms-gal-thumbcont,
.gallery-carousel-container .ms-gallery-template .ms-gal-thumbcont.hide-thumbs{
	position:relative !important;
	top:0px !important;
	height:115px;
}

.gallery-carousel-container .ms-gallery-template .ms-thumb-frame{
	width:140px;
	padding:8px 10px 0px 0px;
	opacity:0.90;
}

.gallery-carousel-container .ms-gallery-template .ms-thumb-list{
	background:#ffffff !important;	
}

.gallery-carousel-container .ms-gallery-template .ms-slide-info{
	position:absolute;
	left:0px;
	top:-80px;
	width:100%;
	padding:24px 10px;
	text-align:center;
	background:rgba(255,255,255,0.90);
	color:#2f2f2f;
}

.gallery-carousel-container .ms-gallery-template .ms-slide-info .ms-info{
	color:#2f2f2f;
	font-weight:500;
	font-size:22px;
	line-height:32px;	
}

.gallery-carousel-container .ms-gallery-template .ms-timerbar,
.gallery-carousel-container .ms-gallery-template .ms-bullets{
	display:none;	
}

.gallery-carousel-container .ms-skin-black-2 .ms-nav-next,
.gallery-carousel-container .ms-skin-black-2 .ms-nav-prev{
	margin-top:-50px;
	background-color:#ff573b !important;	
}

.double-separator{
	position:relative;
	width:100%;
	height:6px;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;	
}

.default-two-column{
	position:relative;
	padding:70px 0px 0px;	
}

.default-two-column .column{
	margin-bottom:40px;	
}

.default-two-column .content-column{
	padding-right:50px;	
}

.default-two-column .content-column .featured-text{
	position:relative;
	font-weight:600;
	color:#373737;
	margin-bottom:30px;	
}

.default-two-column .content-column .text p{
	margin-bottom:25px;	
}

.default-two-column .info-column h2{
	color:#2f2f2f;
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:25px;
	font-weight:500;
	letter-spacing:1px;
}

.default-two-column .info-column h2 strong{
	font-weight:800;	
}

/*** 

====================================================================
	Accordion Style
====================================================================

 ***/
 
 .accordion-box{
	position:relative;
	margin-right:0px;
	background:#ffffff;
	border:1px solid #e9e9e9;		
}

.accordion-box .accordion{
	position:relative;
	padding-left:20px;
	border-bottom:1px solid #e9e9e9;
	margin-bottom:0px;
}

.accordion-box .accordion:last-child{
	border:none;	
}

.accordion-box .accordion.active-block{
	background:#fafbfb;	
}

.accordion-box .accordion .accord-btn{
	position:relative;
	display:block;
	min-height:30px;
	line-height:24px;
	padding:15px 15px 15px 35px;
	color:#2f2f2f;
	cursor:pointer;
}

.accordion-box .accordion .accord-btn h4{
	position:relative;
	font-size:16px;
	line-height:30px;
	font-family:'Open Sans',sans-serif;
	font-weight:600;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.accordion-box .accordion .accord-btn:before{
	content:'\f156';
	font-family: 'Flaticon';
	position:absolute;
	left:0px;
	top:18px;
	background:none;
	color:#2f2f2f;	
	width:30px;
	height:30px;
	line-height:28px;
	font-size:12px;
	font-weight:normal !important;
	text-align:center;
	border-radius:2px;
}

.accordion-box .accordion .accord-btn.active:before{
	content:'\f17a';
	color:#ff573b;
	background:none;
	border-color:transparent;
}

.accordion-box .accordion .accord-btn.active{
	color:#ff573b;	
}

.accordion-box .accordion .accord-content{
	position:relative;
	display:none;
	padding:0px 15px 15px 10px;
}

.accordion-box .accordion .accord-content.collapsed{
	display:block;	
}

.accordion-box .accordion .accord-content p{
	position:relative;
	font-size:13px;
	color:#8d8d8d;
}

/*** 

====================================================================
	Contact Section Style
====================================================================

***/

.contact-section{
	position:relative;
	padding:100px 0px 70px;
}

.contact-section .column{
	position:relative;
	margin-bottom:30px;	
}

.contact-section .column h2{
	color:#2f2f2f;
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:25px;
	font-weight:500;
	letter-spacing:1px;
}

.contact-section .column h2 strong{
	font-weight:800;	
}

.contact-section .default-form .row{
	margin-left:-8px;
	margin-right:-8px;	
}

.contact-section .default-form .form-group{
	padding:0px 8px;
	margin-bottom:16px;	
}

.contact-section .default-form textarea{
	height:160px;	
}

.contact-section .default-form .theme-btn{
	padding:8px 35px;	
}

.contact-section .info-column{
	padding-left:50px;	
}

.contact-section .info-box .desc-text{
	position:relative;
	margin-bottom:40px;
	font-size:14px;
	color:#333333;	
}

.contact-section .info-box .contact-info{
	margin-bottom:40px;	
}

.contact-section .info-box .contact-info li{
	position:relative;
	padding-left:55px;
	margin-bottom:25px;
	font-size:14px;
	color:#aaaaaa;
	font-style:italic;
}

.contact-section .info-box .contact-info li:last-child{
	margin-bottom:0px;	
}

.contact-section .info-box .contact-info li a{
	color:#aaaaaa;	
}

.contact-section .info-box .contact-info li .icon{
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-20px;
	line-height:40px;
	height:40px;
	font-size:32px;
	color:#cccccc;
}

.contact-section .info-box .contact-info li strong{
	position:relative;
	display:block;
	color:#2f2f2f;
	font-size:15px;
	line-height:20px;
	font-style:normal;
}

/*** 

====================================================================
	FAQs Section Style
====================================================================

***/

.faqs-section{
	position:relative;
	padding:100px 0px 60px;
}

.faqs-section .sec-title{
	max-width:800px;
	margin-bottom:60px;	
}

.faqs-section .column{
	position:relative;	
}

.faqs-section .faq-block{
	position:relative;
	margin-bottom:40px;	
}

.faqs-section .faq-block h4{
	font-size:18px;
	text-transform:uppercase;
	font-weight:600;
	margin-bottom:8px;
	color:#2f2f2f;	
}

.faqs-section .faq-block .text{
	color:#999999;	
}

/*** 

====================================================================
	Error Page Style
====================================================================

***/

.error-section{
	position:relative;
	padding:100px 0px 120px;
	text-align:center;	
}

.error-section .error-icon{
	position:relative;
	margin-bottom:40px;
}

.error-section .error-icon img{
	display:inline-block;
	max-width:100%;	
}

.error-section .extra-big{
	font-size:84px;
	margin-bottom:20px;
	color:#2f2f2f;
	line-height:100px;
	font-weight:700;
	letter-spacing:3px;
}

.error-section .bigger-text{
	font-size:52px;
	color:#413f3f;
	margin-bottom:30px;
	line-height:70px;
}

.error-section .small-text{
	font-weight:400;
	font-size:18px;
	margin-bottom:50px;
	color:#999999;	
}

.error-section .text-lower strong{
	display:inline-block;
	padding:10px 20px;	
}

.error-section .text-lower input[type="text"],
.error-section .text-lower input[type="search"]{
	line-height:28px;
	padding:10px 15px;
	width:280px;
	font-size:16px;
	border:1px solid #e0e0e0;	
}

.error-section .text-lower input[type="text"]:focus,
.error-section .text-lower input[type="search"]:focus{
	border-color:#ff573b;	
}


/*** 

====================================================================
	Sidebar
====================================================================

***/

.sidebar-page-container{
	position:relative;
	padding:100px 0px 70px;
}

.sidebar-page-container .sidebar,
.sidebar-page-container .content-side{
	margin-bottom:30px !important;	
}

.sidebar .sidebar-title{
	position:relative;
	margin-bottom:20px;	
}

.sidebar .sidebar-title h2{
	color:#2f2f2f;
	font-weight:700;
	text-transform:uppercase;
	font-size:20px;	
}

.sidebar .sidebar-widget{
	position:relative;
	margin-bottom:50px;	
}

.sidebar .downloads{
	position:relative;
	padding:25px;
	background:#ffffff;
	border:1px solid #e9e9e9;	
}

.sidebar .downloads h3{
	font-family:'Open Sans',sans-serif;
	color:#2c2c2c;
	font-size:18px;
	font-weight:700;
	text-transform:capitalize;
	margin-bottom:15px;	
}

.sidebar .downloads .text{
	position:relative;
	margin-bottom:10px;	
}

.sidebar .downloads li{
	position:relative;
}

.sidebar .downloads li a{
	position:relative;
	display:block;
	text-transform:uppercase;
	font-weight:700;
}

.sidebar .styled-nav{
	position:relative;
}

.sidebar .styled-nav .nav-outer{
	position:relative;
	border:1px solid #e9e9e9;
}

.sidebar .styled-nav ul li{
	position:relative;
	display:block;
	line-height:30px;
	padding:10px 20px 10px 40px;
	text-transform:capitalize;
	color:#4b4e54;
	background:#ffffff;
	font-size:16px;
	font-weight:400;
	border-bottom:1px solid #e9e9e9;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	cursor:pointer;
}

.sidebar .styled-nav .links li{
	position:relative;
	padding:0px;
}

.sidebar .styled-nav .links li:before{
	display:none;	
}

.sidebar .styled-nav .links li a{
	position:relative;
	display:block;
	line-height:30px;
	padding:10px 20px 10px 40px;
	text-transform:capitalize;
	color:#4b4e54;
	font-weight:600;
	background:#ffffff;	
}

.sidebar .styled-nav .links li a:hover{
	color:#ff573b;	
}

.sidebar .styled-nav ul li:last-child{
	border-bottom:none;	
}

.sidebar .styled-nav ul li:before,
.sidebar .styled-nav .links li a:before{
	content:'\f105';
	font-family:'FontAwesome';
	position:absolute;
	left:20px;
	top:50%;
	margin-top:-9px;
	height:20px;
	line-height:20px;
	font-size:18px;
	font-weight:normal;
}

.sidebar .styled-nav ul li:last-child {
	margin-bottom:0px;	
}

.sidebar .styled-nav li.active-btn,
.sidebar .styled-nav li.current{
	color:#ffffff;
	background:#ff573b;
}

.sidebar .contact-widget{
	position:relative;
	padding:25px;
	text-align:center;
	background:#ffffff;	
	border:1px solid #e9e9e9;
}

.sidebar .contact-widget h3{
	font-size:16px;
	font-weight:400;
	color:#888888;
	line-height:30px;
	font-family:'Open Sans',sans-serif;	
}

.sidebar .contact-widget .phone-numbers{
	font-size:24px;
	color:#ff573b;
	line-height:30px;
	font-weight:600;
	margin:10px 0px;
}

.sidebar .search-box .form-group{
	position:relative;
	margin:0px;	
}

.sidebar .search-box .form-group input[type="text"],
.sidebar .search-box .form-group input[type="search"]{
	position:relative;
	line-height:24px;
	padding:10px 50px 10px 20px;
	border:1px solid #e9e9e9;
	background:#ffffff;
	color:#3a3a3a;
	display:block;
	width:100%;
	height:46px;
	border-radius:3px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.sidebar .search-box .form-group input:focus{
	border-color:#ff573b;	
}

.sidebar .search-box .form-group button{
	position:absolute;
	right:0px;
	top:0px;
	height:46px;
	width:50px;
	line-height:46px;
	text-align:center;
	display:block;
	font-size:15px;
	color:#ffffff;
	background:#2f2f2f;
	border-radius:0px 3px 3px 0px;
}

.sidebar .search-box .form-group input:focus + button,
.sidebar .search-box .form-group button:hover{
	background-color:#ff573b;
}

.sidebar .sidebar-title h3{
	font-size:18px;
	color:#2c2c2c;
	font-weight:700;
	text-transform:uppercase;
}

.sidebar .recent-posts .post{
	position:relative;
	font-size:14px;
	color:#cccccc;
	padding-left:90px;
	margin-bottom:30px;
	min-height:70px;
}

.sidebar .recent-posts .post:last-child{
	margin-bottom:0px;	
}

.sidebar .recent-posts .post .post-thumb{
	 position:absolute;
	 left:0px;
	 top:0px;
	 width:70px;	
}

.sidebar .recent-posts .post .post-thumb img{
	display:block;
	width:100%;	
}

.sidebar .recent-posts .post h4{
	font-size:14px;
	margin:0px;
	font-weight:600;
	line-height:1.4em;
	color:#181818;
}

.sidebar .recent-posts .post a,
.sidebar .recent-posts .post a:hover{
	color:#ff573b;	
}

.sidebar .recent-posts .post h4 a{
	color:#2f2f2f;	
}

.sidebar .recent-posts .post-info{
	font-size:13px;
	color:#8b8b8b;
	text-transform:capitalize;
	font-style:italic;	
}

.sidebar-page-container .contact-info{
	position:relative;
	font-size:14px;
	margin-bottom:30px;
}

.sidebar-page-container .contact-info .text{
	position:relative;
	font-size:14px;
	margin-bottom:10px;
	color:#7f7f7f;
}

.sidebar-page-container .contact-info li{
	position:relative;
	margin-bottom:5px;
	line-height:1.8em;
	color:#7f7f7f;	
}

.sidebar-page-container .contact-info li strong{
	position:relative;
	padding-right:10px;
	font-weight:600;
	color:#292929;	
}

.sidebar-page-container .contact-info a{
	color:#ff573b;
	transition:all 300ms ease-in;
	-webkit-transition:all 300ms ease-in;
	-ms-transition:all 300ms ease-in;
	-o-transition:all 300ms ease-in;
	-moz-transition:all 300ms ease-in;	
}

.sidebar-page-container .contact-info a:hover{
	color:#3d3d3d;	
}

.sidebar .popular-tags a{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:5px 18px;
	margin:0px 4px 12px 0px;
	border:1px solid #e0e0e0;
	color:#d0d0d0;
	text-align:center;
	font-size:14px;
	border-radius:3px;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}

.sidebar .popular-tags a:hover{
	background-color:#ff573b;
	border-color:#ff573b;
	color:#ffffff;	
}

.sidebar .list{
	position:relative;
}

.sidebar .list li{
	position:relative;
	line-height:24px;
	border-bottom:1px solid #e9e9e9;	
}

.sidebar .list li a{
	position:relative;
	display:block;
	color:#8d8d8d;
	font-size:14px;
	font-weight:400;
	line-height:24px;
	padding:12px 15px;
	padding-left:20px;
}

.sidebar .list li a:before {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 16px;
    left: 0;
	width:20px;
    line-height: 24px;
    position: absolute;
}

.sidebar .list li a:hover{
	color:#101010;	
}

.sidebar .archives-list{
	position:relative;
}

.sidebar .archives-list li{
	position:relative;
	line-height:24px;
	margin-bottom:10px;
}

.sidebar .archives-list li:last-child{
	margin-bottom:0px;
}

.sidebar .archives-list a{
	position:relative;
	display:block;
	color:#8d8d8d;
	font-size:14px;
	font-weight:400;
	line-height:24px;
}

.sidebar .archives-list a:hover{
	color:#ff573b;
}

.sidebar .text-widget{
	position:relative;	
}

.sidebar .text-widget .text{
	font-size:16px;
	color:#777777;	
}

blockquote.style-one{
	position:relative;
	padding:25px 30px;
	color:#ffffff;
	background:#ff573b;
	font-style:italic;
	border-left-color:#0675a4;
	margin:20px 0px 50px !important;
}

.project-single .default-title h2{
	font-size:20px;	
}

.dotted-list-style{
	position:relative;
}

.dotted-list-style li{
	position:relative;
	padding:0px 0px 20px 30px;	
}

.dotted-list-style li:before{
	content:'';
	position:absolute;
	left:0px;
	top:7px;
	width:10px;
	height:10px;
	background:#ff573b;
	border-radius:50%;	
}

.dotted-list-style li:after{
	content:'';
	position:absolute;
	left:4px;
	top:7px;
	width:1px;
	height:100%;
	border-right:1px solid #ff573b;	
}

.dotted-list-style li:last-child:after{
	display:none;	
}

.dotted-list-style li h4{
	font-size:16px;
	font-weight:700;
	margin-bottom:10px;
	color:#2c2c2c;	
}

.dotted-list-style li p{
	font-size:16px;	
}

.styled-check-list{
	position:relative;	
}

.styled-check-list.bold{
	font-weight:600;	
}

.styled-check-list li{
	position:relative;
	margin-bottom:8px;
	line-height:24px;
	padding-left:25px;
	color:#2c2c2c;	
}

.styled-check-list li:last-child{
	margin-bottom:0px;	
}


.styled-check-list li:before {
    content: "\f13e";
    font-family: "Flaticon";
    font-size: 14px;
    left: 0;
	top:0px;
	width:25px;
    line-height: 24px;
    position: absolute;
	font-weight:normal;
}

.project-single .default-title:after{
	width:50px;
	border-color:#ff573b !important;	
}

/*Blog Style*/


.blog-container{
	position:relative;
	padding:0px 0px;
}

.sidebar-page-container .blog-detail blockquote{
	position:relative;
	padding:5px 20px 1px !important;
	margin:15px 0px;
	line-height:2em;
	font-size:14px;
	color:#282828;
	background:none;
	border-left:3px solid #ff573b;
	
}

.sidebar-page-container .blog-detail blockquote p{
	margin-bottom:10px;	
}

.sidebar-page-container .blog-detail .post-desc h2{
	font-size:20px;
	margin-bottom:22px;
	color:#1a1a1a;	
}

.sidebar-page-container .blog-detail .post-desc h3{
	font-size:18px;
	margin-bottom:10px;
	color:#1a1a1a;	
}

.sidebar-page-container .blog-detail h4{
	font-size:16px;
	margin-bottom:20px;	
}

.check-list li .fa{
	position:relative;
	color:#cbda37;	
}

.remove-list li .fa{
	position:relative;
	color:#ff0000;	
}

.sidebar-page-container .blog-detail .post-tags{
	position:relative;
	padding:15px;
	font-size:16px;
	background:#f5f5f5;
	color:#999999;
	margin-bottom:50px;
}

.sidebar-page-container .blog-detail .post-tags a{
	position:relative;
	color:#777777;
	font-size:15px;
}

.sidebar-page-container .blog-detail .post-tags a:hover{
	color:#00bff3;	
}

/*** 

====================================================================
	Comments Area
====================================================================

 ***/

.sidebar-page-container .comments-area{
	position:relative;
	margin-bottom:50px;	
}

.sidebar-page-container .group-title{
	position:relative;
	margin-bottom:30px;
}

.sidebar-page-container .group-title h2{
	font-size:24px;
	text-transform:uppercase;
	color:#2f2f2f;
	font-weight:600;
	font-family:'Open Sans',sans-serif;
}

.sidebar-page-container .group-title h2 strong{
	font-weight:700;	
}

.sidebar-page-container .comments-area .comment-box{
	position:relative;
	padding:20px 30px;
	border:1px solid #e9e9e9;
	border-radius:3px;
	margin-bottom:25px;
}

.sidebar-page-container .comments-area .comment-box:hover{
	border-color:#ff573b;	
}

.sidebar-page-container .comments-area .separator{
	margin:20px 0px 40px;	
}

.sidebar-page-container .comments-area .comment{
	position:relative;
	padding:0px 0px 10px 90px;	
}

.sidebar-page-container .comments-area .comment .text{
	margin-bottom:15px;	
}

.sidebar-page-container .comments-area .reply-comment{
	padding-top:25px;
	margin-left:90px;
	border-top:1px solid #e9e9e9;	
}

.sidebar-page-container .comments-area .comment-box .author-thumb{
	position:absolute;
	left:0px;
	top:0px;
	width:70px;
}

.sidebar-page-container .comments-area .reply-comment .author-thumb{
	top:25px;	
}

.sidebar-page-container .comments-area .comment-box .author-thumb img{
	width:100%;
	display:block;
	border-radius:3px;
}

.sidebar-page-container .comments-area .comment-info{
	margin-bottom:10px;
	color:#181818;
	line-height:24px;
	font-size:13px;	
}

.sidebar-page-container .comments-area .comment-box strong{
	color:#2c2c2c;
	font-size:16px;
	font-weight:700;
	display:block;
	text-transform:capitalize;
	font-family: 'Raleway', sans-serif;
}

.sidebar-page-container .comments-area .comment-info .comment-time{
	font-size:14px;
	color:#c5c5c5;
}

.sidebar-page-container .comments-area .reply-btn{
	position:absolute;
	right:0px;
	top:10px;
	display:inline-block;
	line-height:24px;
	padding:5px 20px;
	color:#2c2c2c;
	text-transform:uppercase;
	font-size:13px;
	font-weight:600;
	background:#f1f1f1;
	border-radius:3px;
}

.sidebar-page-container .comments-area .reply-comment .reply-btn{
	top:30px;
}

.sidebar-page-container .comments-area .reply-btn:hover{
	color:#ffffff;
	background:#ff573b;	
}

/*** 

====================================================================
	Comment Form
====================================================================

 ***/

.comment-form .form-group{
	position:relative;
	margin-bottom:25px;	
}

.comment-form .form-group input[type="text"],
.comment-form .form-group input[type="password"],
.comment-form .form-group input[type="tel"],
.comment-form .form-group input[type="email"],
.comment-form .form-group select{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:12px 15px;
	color:#222222;
	border:1px solid #e0e0e0;
	height:50px;
	background:#f7f7f7;
	border-radius:2px;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}

.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus{
	border-color:#ff573b;
	background:#fefefe;
}

.comment-form .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:10px 15px;
	color:#222222;
	border:1px solid #e9e9e9;
	height:220px;
	background:#f7f7f7;
	resize:none;
	border-radius:3px;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}

.comment-form button{
	position:relative;
	padding:9px 20px;
}

.blog-news-section .post-share-options{
	position:relative;
	padding:15px 0px;
	background:#ffffff;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
}

.blog-news-section .post-share-options .tags{
	font-size:14px;
	line-height:24px;
	padding-top:5px;	
}

.blog-news-section .post-share-options .tags a{
	position:relative;
	color:#404040;
	font-size:14px;
	font-style:italic;
	font-weight:500;
}

.blog-news-section .post-share-options strong{
	text-transform:uppercase;
	font-weight:600;
	color:#1c1c1c;
	padding-right:10px;
}

/*** 

====================================================================
	Styled Pagination
====================================================================

***/

.styled-pagination{
	position:relative;
	font-family:'Raleway',sans-serif;
}

.styled-pagination li{
	position:relative;
	display:inline-block;
	margin:0px 5px 10px 0px;	
}

.styled-pagination li a{
	position:relative;
	display:block;
	line-height:24px;
	padding:3px 3px;
	font-size:14px;
	text-transform:uppercase;
	min-width:32px;
	border:1px solid #e0e0e0;	
	background:#ffffff;
	color:#1a1a1a;
	font-weight:700;
	text-align:center;
	border-radius:3px;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
}

.styled-pagination li a.next,
.styled-pagination li a.prev{
	padding:3px 15px;
	letter-spacing:1px;
	font-size:13px;
}

.styled-pagination li a:hover,
.styled-pagination li a.active{
	color:#ffffff;
	background:#ff573b;
	border-color:#ff573b;	
}