@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu:500,700');html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
body{overflow-x:hidden;position:relative;}
body *{outline:none!important}
h1,
h2,
h3,
h4,
h5,
h6{color:#333;font-family:'Ubuntu', sans-serif;line-height:1;letter-spacing:.2px;word-spacing:1.8px;font-weight:700;}
h1{font-size:18px;}
h2{font-size:17px;}
h3{font-size:16px;}
h4{font-size:15px;}
h5{font-size:14px;}
h6{font-size:13px;}
.page h1, .post-page h1{font-size:20px;}
.page h2, .post-page h2{font-size:18px;}
.page h3, .post-page h3{font-size:17px;}
.page h4, .post-page h4{font-size:16px;}
.page h5, .post-page h5{font-size:15px;}
.page h6, .post-page h6{font-size:14px;}
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6{color:#444;font-family:'Ubuntu', sans-serif;font-weight:500;}
img{max-width:100%;height:auto;vertical-align:middle;}
p{color:#555;font-size:14px;font-family:'Lato', sans-serif;line-height:21.4px;letter-spacing:.2px;word-spacing:1.4px;font-weight:400;}
ul li,
ol li{font-size:11px;font-family:'Lato', sans-serif;font-weight:400;letter-spacing:1.4px;}
time, span{font-family:'Lato', sans-serif;}
a{color:#333}
a:hover,
a:focus{text-decoration:none;outline:none;color:#333;}
input:hover,input:focus{outline:none}
.theme-layout{position:relative;width:100%;background-color:#fff;}
section{position:relative;width:100%;}
.container{max-width:1080px;}
.container-fluid{padding-left:0;padding-right:0;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover{color:#777;}
.small-button a,
.medium-button a,
.large-button a{-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.small-button a:hover,
.medium-button a:hover,
.large-button a:hover{color:#a5a5a5;}
.menu-icons i,
.main-menu li a,
.footer-social-links ul li a{-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.menu-icons i:hover,
.main-menu li a:hover,
.footer-social-links ul li a:hover{color:#a5a5a5;}
.post-tags li a,
.page-nav li a{-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.post-tags li a:hover,
.page-nav li a:hover{color:#777;}
.lauren-main-menu{background-color:#000;}
.main-menu{list-style:none;position:relative;float:left;margin:0;padding:0;background-color:#000;border-bottom:1px solid #000;}
.main-menu li{position:relative;float:left;margin:0;padding:0;}
.main-menu > li{margin-right:30px;}
.main-menu li a{display:block;color:#f7f7f7;text-transform:uppercase;text-decoration:none;padding:18px 10px;}
.main-menu > li:first-child a{padding-left:0;}
.main-menu ul li a{padding:14px 15px!important;}
.menu-icons{list-style:none;position:relative;float:right;margin:0;padding:0;background-color:#000;border-bottom:1px solid #000;}
.menu-icons li{position:relative;float:left;margin:0;padding:0;}
.menu-icons li i{display:block;color:#f7f7f7;text-transform:uppercase;text-decoration:none;padding:18px 10px;}
.menu-icons > li:last-child i{padding-right:0;}
.search-icon i{cursor:pointer;}
.search-box{background-color:#1b1b1b;border:0;color:#fff;padding-left:20px;padding-right:10px;font-family:'Lato', sans-serif;font-size:12px;border-radius:2px;opacity:0;line-height:30px;letter-spacing:1px;word-spacing:1px;width:200px;visibility:hidden;position:absolute;right:20px;top:7px;-webkit-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.search-box.searchon{visibility:visible;-webkit-animation:opacity 200ms 100ms forwards;animation:opacity 300ms 80ms forwards;}
.search-box::-webkit-input-placeholder{color:#d0d0d0;font-size:11px;letter-spacing:1px;word-spacing:2px;}
.search-box:-ms-input-placeholder{color:#d0d0d0;font-size:11px;letter-spacing:1px;word-spacing:2px;}
@keyframes opacity{from{opacity:0;}
to{opacity:1;}
}
.lauren-logo{text-align:center;margin:40px 0;}
.main-menu ul{display:block;position:absolute;top:100%;left:1px;opacity:0;visibility:hidden;background:#1b1b1b;padding:0;z-index:1111;-webkit-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.main-menu ul li{float:none;width:200px}
.main-menu ul a{line-height:120%;font-size:10px;color:#f8f8f8;letter-spacing:1.2px;background-color:#1b1b1b;padding:14px 15px;border-bottom:1px dotted #2c2c2c;}
.main-menu ul ul{top:0;left:100%}
.main-menu li:hover > ul{opacity:1;visibility:visible;}
.responsive-menu-bar{list-style:none;position:relative;margin:0;display:none;padding:0;background-color:#000;border-bottom:1px solid #000;}
.responsive-menu-bar li{position:relative;float:left;margin:0;padding:0;}
.responsive-menu-bar li i{display:block;color:#f7f7f7;text-transform:uppercase;text-decoration:none;padding:18px 0;}
.responsive-menu-bar .search-icon{float:right;}
.responsive-menu{background:#fff;height:100%;position:fixed;top:0;left:-340px;width:340px!important;z-index:10000;display:none;-webkit-transition:all 400ms cubic-bezier(0.200, 0.200, 0.200, 0.200);transition:all 400ms cubic-bezier(0.200, 0.200, 0.200, 0.200);-webkit-transition-timing-function:cubic-bezier(0.200, 0.200, 0.200, 0.200);transition-timing-function:cubic-bezier(0.200, 0.200, 0.200, 0.200);}
.responsive-menu.slidein{left:0;}
.theme-layout:before{background:#000;content:" ";height:100%;width:100%;opacity:0;visibility:hidden;z-index:11;position:fixed;left:0;top:0;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.theme-layout.stop:before{visibility:visible;opacity:0.6;}
.responsive-menu header ul{list-style:none;}
.responsive-menu header ul li a{display:block;}
.responsive-menu header{text-align:right;margin-right:27px;}
.responsive-menu header ul li i{font-size:15px;line-height:46px;}
.mobile-menu{display:block;list-style:none;text-align:center;padding-left:0;background:#fff;}
.mobile-menu li{margin:0;display:block;padding:0;}
.mobile-menu li a{font-size:11px;display:block;letter-spacing:1px;background-color:#fff;padding:14px 30px 14px;border-bottom:1px solid #efefef;text-align:left;text-transform:uppercase;-webkit-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.mobile-menu li:first-child>a{border-top:1px solid #000;}
.mobile-menu ul{display:none;width:100%;padding-left:0;}
.mobile-menu ul li a{background-color:#fbfbfb;font-size:10px;padding-left:60px;line-height:16px;}
.mobile-menu li.menu-item-has-children a{position:relative;}
.mobile-menu li.menu-item-has-children>a:after{color:#000;content:"\f107";font-family:fontawesome;position:absolute;font-size:14px;right:30px;}
.mobile-menu li ul li:first-child>a{border-top:0;}
.mobile-menu li a:hover{color:#777;}
.slider-post{text-align:center;border:1px solid #eee;margin-bottom:30px;position:relative;z-index:1;}
.slider-image img{width:100%;height:auto;-o-object-fit:cover;object-fit:cover;}
.slider-title{padding:20px 0;}
.slider-title h1{margin-bottom:5px;}
.post-date{font-size:10px;color:#888;letter-spacing:0.8px;}
.post-slider .slider-prev,
.post-slider .slider-next{position:absolute;top:39%;cursor:pointer;}
.post-slider .slider-nav i{color:#fff;font-size:24px;z-index:1111;background-color:rgba(0, 0, 0, 0.65);height:44px;width:44px;text-align:center;line-height:41px;-webkit-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.post-slider:hover .slider-nav i{background-color:#000;color:#fff;}
.post-slider .slider-nav .slider-prev i{padding-right:2px;}
.post-slider .slider-nav .slider-next i{padding-left:2px;}
.post-slider .slider-nav .slider-prev{left:1px;}
.post-slider .slider-nav .slider-next{right:1px;}
.featured-post{text-align:center;border:1px solid #eee;margin-bottom:40px;position:relative;}
.featured-post img{width:100%;height:auto;-o-object-fit:cover;object-fit:cover;}
.featured-post-title{padding:20px 0;}
.featured-post-title h3{margin-bottom:4px;}
.normal-post{border:1px solid #eee;margin-bottom:30px;position:relative;}
.normal-post img{width:100%;height:auto;-o-object-fit:cover;object-fit:cover;}
.normal-post-title{text-align:center;padding:10px 0;}
.normal-post-title h2{margin:10px 0;}
.category{font-size:10px;letter-spacing:1.4px;text-transform:uppercase;color:#555;}
.normal-post-content{padding:0 30px;}
.normal-post-content p{text-align:justify;}
.normal-post-content p{margin-bottom:10px;}
.normal-post-content p:last-child{margin-bottom:20px;}
.normal-post-footer{padding:30px;}
.post-share{display:inline-block;}
.post-share li{display:inline-block;margin-right:30px;}
.post-share li:last-child{margin-right:0;}
.post-share li i{font-size:14px;}
.read-more-button{float:right;}
.small-button a,
.medium-button a,
.large-button a{background-color:#000;color:#fff;font-family:'Lato', sans-serif;text-transform:uppercase;letter-spacing:.8px;}
.small-button a{padding:9px;font-size:9px;line-height:18px;}
.medium-button a{padding:10px;font-size:10px;line-height:20px;}
.large-button a{padding:13px;font-size:11px;line-height:20px;}
.page-nav{margin:30px 0 0;}
.page-nav li{display:inline-block;}
.page-nav li:last-child{float:right;}
.page-nav li:first-child{float:left;}
.page-nav li a{font-size:12px;text-transform:uppercase;letter-spacing:1.4px;padding:14px 0;}
.page-nav li a:after{content:' ';display:block;height:1px;width:30px;background-color:#000;margin:14px 0 30px;}
.page-nav li:last-child a:after{margin-right:1.4px;margin:14px 1.4px auto auto;}
.mini-post{border:1px solid #eee;margin-bottom:30px;position:relative;}
.mini-post img{width:100%;height:auto;-o-object-fit:cover;object-fit:cover;}
.mini-post-title{text-align:center;padding:20px 0;}
.mini-post-title h3 a{margin-bottom:3px;}
.mini-post-content{padding:0 30px;}
.mini-post-content p{text-align:center;}
.mini-post-content p:last-child{margin-bottom:0;}
.mini-post-footer{padding:30px;text-align:center;}
.mini-post-footer .read-more-button{float:none;}
.widget{padding:30px;border:1px solid #eee;margin-bottom:30px;}
.sidebar .widget:last-child{margin-bottom:0;}
.widget p{font-size:13px;}
.widget-title{padding-bottom:14px;text-align:center;}
.page-title:after,
.normal-post-title:after,
.widget-title:after{content:' ';display:block;height:1px;width:8px;background-color:#000;margin:14px auto;}
.widget-about{text-align:center;}
.widget-about img:first-child{height:auto;width:auto;border-radius:50%;display:block;margin:0 auto 40px;}
.widget-about .small-button{margin-top:24px;display:block;}
.insta-photos{text-align:center;}
.insta-photos li{display:inline-block;}
.insta-photos img{padding:4px;height:80px;width:80px;-o-object-fit:cover;object-fit:cover;}
.widget-twitter img{border-radius:50%;display:block;margin:0 auto 40px;}
.twitter-slider .tweet{text-align:center;}
.twitter-slider .tweet p{margin-bottom:6px;}
.twitter-slider .tweet time{display:block;padding:10px;color:#999;}
.twitter-slider{text-align:center;}
.twitter-slider .slider-dots{background-color:transparent;display:inline-block;margin-top:20px;}
.twitter-slider .slider-dots{text-align:center;-webkit-tap-highlight-color:transparent;}
.twitter-slider .slider-dots .slider-dot{display:inline-block;}
.twitter-slider .slider-dots .slider-dot span{width:9px;height:9px;margin:5px 5px;background:#fff;border:1px solid #000;display:block;-webkit-backface-visibility:visible;-webkit-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;border-radius:30px;}
.twitter-slider .slider-dots .slider-dot.active span,
.owl-theme .slider-dots .slider-dot:hover span{background:#000;}
.recent-post{margin-bottom:24px;}
.recent-post:last-child{margin-bottom:0;}
.recent-post h6 a{line-height:19px;}
.recent-posts li img{float:left;width:68px;height:68px;-o-object-fit:cover;object-fit:cover;margin-right:14px;}
.ads-box{overflow:hidden;}
.ads-box img{width:100%;height:auto;}
.author-image img{float:left;display:inline;height:100px;width:100px;-o-object-fit:cover;object-fit:cover;margin-right:20px;border-radius:50%;}
.author-name h3{text-transform:uppercase;margin:10px 0 5px;}
.author-story span{font-weight:bold;}
.post-page-container{border:1px solid #eee;margin-bottom:0;position:relative;}
.post-page-footer{padding:30px;}
.post-page-footer .post-share{float:right;}
.post-tags{float:left;}
.post-tags li{display:inline-block;margin-right:20px;margin-bottom:10px;}
.post-tags li a{text-transform:uppercase;font-size:11px;font-weight:bold;color:#000;}
.post-tags li a:before{content:'#';font-size:12px;}
.page-container{border:1px solid #eee;position:relative;}
.page-image img{width:100%;height:auto;-o-object-fit:cover;object-fit:cover;}
.page-title{text-align:center;padding:10px 0;}
.page-title h1{text-transform:uppercase;margin:10px 0;}
.page-content{padding:0 30px;}
.page-content p{text-align:left;}
.page-content p{margin-bottom:18px;}
.page-content p:last-child{margin-bottom:30px;}
.page-footer{padding:30px;}
.content-image-left{float:left;display:inline;margin-right:20px;margin-bottom:10px;}
.content-image-right{float:right;display:inline;margin-left:20px;margin-bottom:10px;}
.full-page-content{padding:0 60px;}
.full-page-content p{text-align:justify;}
.full-page-content p{margin-bottom:18px;}
.full-page-content p:last-child{margin-bottom:30px;}
.full-page-footer{padding:60px;}
.error-image,
.error-page{padding:180px 0;}
.error-image img{width:100%;height:auto;}
.error-page h1{font-size:40px;line-height:50px;margin-bottom:20px;margin-top:50px;}
.error-page p{font-size:20px;margin:10px 0;}
.error-page a{border-bottom:2px solid #000;font-weight:bold;padding-bottom:1px;}
.contact-form{text-align:center;margin-top:30px;}
.contact-form input[type="text"]{float:left;}
.contact-form input[type="email"]{float:right;}
.contact-form input[type="url"],
.contact-form input[type="text"],
.contact-form textarea[name="message"],
.contact-form input[type="email"]{background-color:#fff;color:#555555;padding:13px 4px 13px 10px;font-size:12px;font-weight:400;border:1px solid #e5e5e5;width:49%;display:inline-block;margin-bottom:26px;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
.contact-form input[type="url"]{width:100%;}
.contact-form textarea[name="message"]{width:100%;height:140px;margin-bottom:20px;resize:vertical;}
.contact-form input[type="url"]:focus,
.contact-form input[type="text"]:focus,
.contact-form textarea[name="message"]:focus,
.contact-form input[type="email"]:focus{color:#5f5f5f;outline:none;border:1px solid #777;}
.contact-form input[type="submit"]{padding:10px;background-color:#000;color:#fff;font-family:'Lato', sans-serif;text-transform:uppercase;font-size:10px;line-height:20px;letter-spacing:.8px;border:0;-webkit-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.contact-form input[type="submit"]:hover{color:#d1d1d1;}
footer{margin:50px 0 0;}
.insta-slider li{background-color:#000;}
.insta-slider img{max-width:100%;height:auto;}
.footer-social{background-color:#000;padding:17px 0;}
.footer-social-links ul{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
.footer-social-links ul li{display:inline-block;}
.footer-social-links ul li a{color:#fff;text-transform:uppercase;font-size:10px;letter-spacing:2.4px;}
.main-footer{background-color:#161616;padding:70px 0;text-align:center}
.footer-about{display:inline-block;}
.go-top{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;float:right;}
.top-button{width:60px;height:60px;line-height:60px;text-align:center;font-family:'Lato', sans-serif;color:#fff;font-size:20px;text-transform:uppercase;position:relative;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;background-color:#000;letter-spacing:1px;padding-left:2px;border-radius:50%;}
.top-button:focus,
.top-button:hover{color:#fff;text-decoration:none;}
.go-top span{display:block;}